$20^{th}$ Apr 2021

In [1]:
import pandas as pd
import os, glob
import matplotlib.pyplot as plt
import numpy as np

from datetime import datetime

In [2]:
# df = pd.read_excel('/home/douso/Documents/TrendData/Results/COVID-19-Test_result_Reporting_01_01_2021.xlsx', header=1)

In [3]:
cols_of_interest = ['SAMPLE_NUMBER', 'AGE', 'AGE_UNIT_(DAYS/MONTHS/YEARS)', 'GENDER_(M/F)', 'OCCUPATION', 'NATIONALITY', 
           'COUNTY_OF_RESIDENCE', 'SUB_COUNTY_OF_RESIDENCE', 'HAS_TRAVEL_HOSTORY(LAST_14_DAYS)_Y/N', 'TRAVEL_FROM', 
           'QUARANTINE_FACILITY/HOSPITAL/HOMESTEAD', 'SYMTOMS_SHOWN_(COUGH;FEVER;ETC)', 'DATE_OF_SAMPLE_COLLECTION', 
           'DATE_SAMPLE_RECEIVED_IN_THE_LAB', 'RESULT', 'LAB_CONFIRMATION_DATE']

In [4]:
data_dir = '/home/douso/Documents/TrendData/Results'
files = os.listdir(data_dir)
files = sorted(files)

In [5]:
def get_trend_data(df, cols):
    df_new = df.copy()
    df_new.columns = [col.replace(' ', '_').upper() for col in df.columns]
    df_cln = df_new[df_new['SAMPLE_NUMBER'].notna()]
    return df_cln[cols]

In [6]:
# keyerrors = []
# df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     try:
#         df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#         df_data = get_trend_data(df_file, 'DATE_SAMPLE_RECEIVED_IN_THE_LAB')
# #         df_raw = df_raw.append(df_data)
#         count += 1
#     except: 
#         if KeyError:
#             keyerrors.append(file)
#         elif ValueError:
#             print(f'ValueError: {file}')
#     finally: pass
# print(len(keyerrors))
# sorted(keyerrors)

In [7]:
# files = ['COVID-19-Test_result_Reporting_01_07_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_01_07_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_05_09_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_05_09_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_08_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_15_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_31_07_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_31_07_2020-B.xlsx']

In [8]:
# for file in files:
#     df = pd.read_excel(f'{data_dir}/{file}', header=1)
#     try:
#         df.insert(27, 'DATE SAMPLE RECEIVED IN THE LAB', pd.NaT)
#         df.to_excel(f'/home/douso/Documents/TrendData/Results/add_col/{file}', index=False, startrow=1)
#     except:
#         raise
#         print (f'Error: {file}')
#     finally: pass

In [9]:
# keyerrors = []
# df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     try:
#         df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#         df_data = get_trend_data(df_file, cols_of_interest)
#         df_raw = df_raw.append(df_data)
#         count += 1
#     except: 
#         if KeyError:
#             keyerrors.append(file)
#         elif ValueError:
#             print(f'ValueError: {file}')
#     finally: pass
# print(len(keyerrors))
# sorted(keyerrors)

In [10]:
headers = ['TESTING LAB', 'CASE ID', 'TYPE OF CASE (INITIAL/REPEAT)',
       'SAMPLE NUMBER', 'NAME', 'ID/PASSPORT NUMBER', 'AGE',
       'AGE UNIT (DAYS/MONTHS/YEARS)', 'GENDER (M/F)', 'PHONE NUMBER',
       'OCCUPATION', 'NATIONALITY', 'COUNTY OF RESIDENCE',
       'SUB COUNTY OF RESIDENCE', 'VILLAGE/ESTATE OF RESIDENCE', 'WARD',
       'COUNTY OF DIAGNOSIS', 'HAS TRAVEL HOSTORY(LAST 14 DAYS) Y/N',
       'TRAVEL FROM', 'CONTACT WITH CASE Y/N', 'CONFIRMED CASE NAME',
       'QUARANTINE FACILITY/HOSPITAL/HOMESTEAD', 'HAVE SYMPTOMS Y/N',
       'DATE OF ONSET OF SYMPTOMS', 'SYMTOMS SHOWN (COUGH;FEVER;ETC)',
       'SAMPLE TYPE (NP SWAB, OP SWAB, SERUM SPUTUM ETC)',
       'DATE OF SAMPLE COLLECTION', 'DATE SAMPLE RECEIVED IN THE LAB',
       'RESULT', 'LAB CONFIRMATION DATE']

In [11]:
# for file in keyerrors[:-1]:
#     df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#     df_file.columns = headers
#     df_file.to_excel(f'{data_dir}/add_col2/{file}', startrow=1)

The following 60 sheets, besides some June sheets (manually fixed earlier), lacked the `DATE_SAMPLE_RECEIVED_IN_THE_LAB` column, it was added for uniformity:

- 'COVID-19-Test_result_Reporting_01_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_01_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_02_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_03_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_03_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_03_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_04_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_04_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_04_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_05_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_05_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_05_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_06_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_06_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_07_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_07_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_07_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_08_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_08_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_09_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_09_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_10_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_11_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_12_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_13_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_13_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_14_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_14_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_15_08_2020-A.xlsx'
- 'COVID-19-Test_result_Reporting_15_08_2020-B.xlsx'
- 'COVID-19-Test_result_Reporting_16_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_16_10_2020 (1).xlsx'
- 'COVID-19-Test_result_Reporting_17_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_17_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_18_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_18_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_19_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_19_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_20_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_20_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_21_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_21_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_21_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_22_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_23_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_24_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_24_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_24_08_2020-A.xlsx'
- 'COVID-19-Test_result_Reporting_24_08_2020-B.xlsx'
- 'COVID-19-Test_result_Reporting_25_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_25_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_27_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_27_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_27_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_28_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_28_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_28_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_29_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_29_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_29_08_2020.xlsx'

In [12]:
# files = ['COVID-19-Test_result_Reporting_01_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_01_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_02_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_03_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_03_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_03_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_04_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_04_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_04_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_05_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_05_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_05_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_06_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_06_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_07_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_07_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_07_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_08_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_08_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_09_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_09_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_10_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_11_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_12_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_13_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_13_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_14_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_14_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_15_08_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_15_08_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_16_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_16_10_2020 (1).xlsx',
#  'COVID-19-Test_result_Reporting_17_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_17_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_19_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_19_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_20_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_20_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_21_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_21_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_21_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_22_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_23_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_24_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_24_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_24_08_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_24_08_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_25_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_25_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_27_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_27_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_27_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_28_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_28_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_28_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_29_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_29_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_29_08_2020.xlsx']

In [13]:
# for file in files:
#     df = pd.read_excel(f'{data_dir}/{file}', header=1)
#     try:
#         df.insert(27, 'DATE SAMPLE RECEIVED IN THE LAB', np.nan)
#         df.to_excel(f'{data_dir}/add_col/{file}', index=False, startrow=1)
#     except:
#         raise
#         print (f'Error: {file}')
#     finally: pass

The follwing sheets have missing values for the `RESULT` column:
- 'COVID-19-Test_result_Reporting_20_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_16_06_2020.xlsx'

Updated column names of some of the Jun files ['GENDER_(M/F)', 'LAB_CONFIRMATION_DATE', 'RESULT']

In [14]:
# df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     if file.endswith('.xlsx'):
#         try:
#             df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#             df_data = get_trend_data(df_file, cols_of_interest)
#             df_raw = df_raw.append(df_data)
#             count += 1
#         except: 
#             if KeyError:
# #                 raise
#                 print(f'KeyError: {file}')
#             elif ValueError:
#                 print(f'ValueError: {file}')
#         finally: pass
#     pass
# print(f'Files processed: {count}')
# print(f'Files in the folder: {len(files)}')

### Travel History Missing - the HOSTORY misspelling

- COVID-19-Test_result_Reporting_09_09_2020.xlsx
- COVID-19-Test_result_Reporting_11_09_2020.xlsx
- COVID-19-Test_result_Reporting_12_09_2020.xlsx
- COVID-19-Test_result_Reporting_14_09_2020.xlsx
- COVID-19-Test_result_Reporting_15_09_2020.xlsx
- COVID-19-Test_result_Reporting_18_10_2020.xlsx
- Files processed: 249
- Files in the folder: 256

In [15]:
# keyerrors = []
# # df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     try:
#         df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#         df_data = get_trend_data(df_file, cols_of_interest)
# #         df_raw = df_raw.append(df_data)
#         count += 1
#     except: 
#         if KeyError:
#             keyerrors.append(file)
#         elif ValueError:
#             print(f'ValueError: {file}')
#     finally: pass
# print(len(keyerrors))
# sorted(keyerrors)

In [16]:
# files = ['COVID-19-Test_result_Reporting_09_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_11_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_12_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_14_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_15_09-2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_10_2020.xlsx']

In [17]:
# for file in files:
#     df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#     (df_file.rename(columns={'HAS TRAVEL HISTORY(LAST 14 DAYS) Y/N': 'HAS TRAVEL HOSTORY(LAST 14 DAYS) Y/N'}, errors='raise').
#     to_excel(f'{data_dir}/rename_col/{file}', index=False, startrow=1))

In [18]:
df_raw = pd.DataFrame()
count = 0
for file in files:
    if file.endswith('.xlsx'):
        try:
            df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
            df_data = get_trend_data(df_file, cols_of_interest)
            df_raw = df_raw.append(df_data)
            count += 1
        except: 
            if KeyError:
#                 raise
                print(f'KeyError: {file}')
            elif ValueError:
                print(f'ValueError: {file}')
        finally: pass
    pass
print(f'Files processed: {count}')
print(f'Files in the folder: {len(files)}')

/home/douso/.local/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

Files processed: 257
Files in the folder: 258

In [19]:
df_raw.head()

,SAMPLE_NUMBER,AGE,AGE_UNIT_(DAYS/MONTHS/YEARS),GENDER_(M/F),OCCUPATION,NATIONALITY,COUNTY_OF_RESIDENCE,SUB_COUNTY_OF_RESIDENCE,HAS_TRAVEL_HOSTORY(LAST_14_DAYS)_Y/N,TRAVEL_FROM,QUARANTINE_FACILITY/HOSPITAL/HOMESTEAD,SYMTOMS_SHOWN_(COUGH;FEVER;ETC),DATE_OF_SAMPLE_COLLECTION,DATE_SAMPLE_RECEIVED_IN_THE_LAB,RESULT,LAB_CONFIRMATION_DATE
0,COVC22771,58.0,Years,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,Years,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,Years,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,Years,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,Years,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [20]:
os.getenv('PWD')

'/home/douso'

### **Clean Headers**

In [161]:
cols_rename = ['S_NUM', 'AGE', 'AGE_UNIT', 'GEND', 'OCCU', 'NAT', 'COUNT_RES', 'S_COUNT_RES', 'TRAV_HIST', 
                    'TRAV_FROM', 'QUAR_PLACE', 'SYMPS', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'RESULT', 'DT_CONF']

In [162]:
# df_raw.columns = cols_rename

### **Clean Sample Numbers**

In [163]:
def cov_names(x):
    x = x.upper().replace(' ', '')
    if len(x) == 8:
        x = x.replace('COVC', 'COVC0')
    elif len(x) == 7:
        x = x.replace('COVC', 'COVC00')
    elif len(x) == 6:
        x = x.replace('COVC', 'COVC000')
    elif len(x) == 5:
        x = x.replace('COVC', 'COVC0000')
    return x

In [164]:
df_raw.head()

,SAMPLE_NUMBER,AGE,AGE_UNIT_(DAYS/MONTHS/YEARS),GENDER_(M/F),OCCUPATION,NATIONALITY,COUNTY_OF_RESIDENCE,SUB_COUNTY_OF_RESIDENCE,HAS_TRAVEL_HOSTORY(LAST_14_DAYS)_Y/N,TRAVEL_FROM,QUARANTINE_FACILITY/HOSPITAL/HOMESTEAD,SYMTOMS_SHOWN_(COUGH;FEVER;ETC),DATE_OF_SAMPLE_COLLECTION,DATE_SAMPLE_RECEIVED_IN_THE_LAB,RESULT,LAB_CONFIRMATION_DATE
0,COVC22771,58.0,Years,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,Years,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,Years,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,Years,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,Years,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [165]:
df_raw.to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged.xlsx', 
              index=False, header=cols_rename)

In [166]:
# df_raw.head()

In [167]:
# df_mrg_mtdata = pd.read_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged.xlsx')

In [168]:
## df_mrg_mtdata[df_mrg_mtdata['AGE_UNIT'] != 'Years'].AGE_UNIT.unique()

In [169]:
## df_mrg_mtdata[df_mrg_mtdata['AGE_UNIT'] == 'Months']#.AGE_UNIT.unique()

In [170]:
## df_mrg_mtdata[df_mrg_mtdata['AGE_UNIT'] == 'Days']#.AGE_UNIT.unique()

In [171]:
df_mrg_mtdata = pd.read_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged.xlsx')

### **Clean Sample Name**

In [172]:
df_name = df_mrg_mtdata.assign(S_NUM=df_mrg_mtdata['S_NUM'].apply(lambda x: cov_names(x)))

In [173]:
df_name[df_name['S_NUM'].str.len() < 8]

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9011,COVE20,39,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
9012,COVE21,50,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
16345,NIL,40,Years,M,Nil,Kenya,Laikipia,Laikipia East,No,NaN,NTRH,NaN,2020-06-18 00:00:00,NaN,Negative,2020-06-20 00:00:00

In [174]:
df_name[df_name['S_NUM'].str.contains('COVC') == False]

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9011,COVE20,39,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
9012,COVE21,50,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
16345,NIL,40,Years,M,Nil,Kenya,Laikipia,Laikipia East,No,NaN,NTRH,NaN,2020-06-18 00:00:00,NaN,Negative,2020-06-20 00:00:00
23273,NHRL-S001,NaN,Years,M,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,NaN
23274,NHRL-S002,NaN,Years,F,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24228,KEM-21-03-94425,17,Years,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",04/03/2021,NaN,Positive,11/03/2021
24229,KEM-21-03-94736,16,Years,M,NaN,Kenya,Nairobi,Roysambu,No,NaN,NaN,NaN,12/03/2021,NaN,Positive,16/03/2021
24230,KEM-21-03-94766,22,Years,M,NaN,Kenya,Kiambu,Gatundu North,No,NaN,NaN,"Headache,cough",2021-10-03 00:00:00,NaN,Positive,15/03/2021
24231,KEM-21-03-95380,60,Years,F,NaN,Kenya,Kiambu,Kabete,No,NaN,NaN,NaN,18/03/2021,NaN,Positive,19/03/2021
24232,KEM-21-03-95237,0.8,Years,M,NaN,Kenya,Embu,Manyatta,No,NaN,NaN,NaN,16/03/2021,NaN,Positive,18/03/2021

### **Clean Age**

In [175]:
df_name[df_name['AGE_UNIT'] == 'Days']

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [176]:
df_months = df_name[df_name['AGE_UNIT'] == 'Months']

In [177]:
df_months.head()

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
569,COVC09555,11,Months,F,NaN,Kenya,Narok,RONGAI,No,NaN,NaN,NaN,2020-09-01 00:00:00,NaN,Negative,2020-09-02 00:00:00
1150,COVC02581,1,Months,M,Inmate,Uganda,Kiambu,Thika,N,NIL,Prison,NIL,2020-07-01 00:00:00,NaN,Negative,2020-07-03 00:00:00
1578,COVC17631,10,Months,F,NaN,Kenya,Kiambu,KIKUYU,No,NaN,NaN,NaN,2020-10-27 00:00:00,2020-10-03 00:00:00,Negative,2020-11-03 00:00:00
2429,COVC18026,6,Months,M,NaN,Kenya,Kiambu,THIKA,No,NaN,NaN,CO,2020-11-03 00:00:00,2020-11-04 00:00:00,Positive,2020-11-04 00:00:00
2586,COVC18183,19,Months,M,Child,Kenya,Kiambu,LIMURU,No,NaN,NaN,NaN,2020-11-03 00:00:00,2020-11-04 00:00:00,Negative,2020-11-04 00:00:00

In [178]:
df_mn2yrs = df_months.assign(AGE=df_months['AGE'].map(lambda x: round(x / 12, 1))).replace('Months', 'Years')

In [179]:
df_mn2yrs.head()

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
569,COVC09555,0.9,Years,F,NaN,Kenya,Narok,RONGAI,No,NaN,NaN,NaN,2020-09-01 00:00:00,NaN,Negative,2020-09-02
1150,COVC02581,0.1,Years,M,Inmate,Uganda,Kiambu,Thika,N,NIL,Prison,NIL,2020-07-01 00:00:00,NaN,Negative,2020-07-03
1578,COVC17631,0.8,Years,F,NaN,Kenya,Kiambu,KIKUYU,No,NaN,NaN,NaN,2020-10-27 00:00:00,2020-10-03 00:00:00,Negative,2020-11-03
2429,COVC18026,0.5,Years,M,NaN,Kenya,Kiambu,THIKA,No,NaN,NaN,CO,2020-11-03 00:00:00,2020-11-04 00:00:00,Positive,2020-11-04
2586,COVC18183,1.6,Years,M,Child,Kenya,Kiambu,LIMURU,No,NaN,NaN,NaN,2020-11-03 00:00:00,2020-11-04 00:00:00,Negative,2020-11-04

In [180]:
df_name[df_name['AGE_UNIT'] == 'Days']#.AGE_UNIT.unique()

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [181]:
df_not_months = df_name[df_name['AGE_UNIT'] != 'Months']

In [182]:
df_not_months.shape

(24167, 16)

In [183]:
df_mn2yrs.shape

(66, 16)

In [184]:
df_years = df_not_months.append(df_mn2yrs)

In [185]:
df_years.shape

(24233, 16)

In [186]:
df_years['AGE_UNIT'].unique()

array(['Years', nan, 'years', 'Nil'], dtype=object)

In [187]:
df_years[df_years['AGE_UNIT'] == 'NO PATIENT DATASHEET']

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [188]:
df_years[df_years['AGE_UNIT'].str.contains('M', 'F') == True]

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [189]:
df_years[df_years['AGE_UNIT'] == 'Nil']

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
14211,COVC04083,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14212,COVC04084,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14213,COVC04085,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Positive,2020-07-17 00:00:00
14214,COVC04086,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14215,COVC04087,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14216,COVC04088,Nil,Nil,F,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14217,COVC04089,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14218,COVC04090,Nil,Nil,F,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14219,COVC04091,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14220,COVC04092,Nil,Nil,F,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14221,COVC04093,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
15504,COVC01628,Nil,Nil,Nil,Nil,Nil,Nyeri,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
df_years_drop_age_unit = df_years.drop('AGE_UNIT', axis=1)

In [191]:
df_years_rencol = df_years_drop_age_unit.rename(columns={'AGE': 'AGE_YRS'})

In [192]:
df_years_rencol.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [193]:
df_years_rencol['AGE_YRS'].unique()

array([58, 63, 53, 52, 41, 9, 6, 39, 23, 36, 33, 42, 34, 32, 57, 56, 27,
       20, nan, 44, 26, 31, 35, 28, 37, 54, 29, 43, 24, 38, 47, 49, 40,
       51, 50, 25, 30, 45, 46, 22, 21, 48, 55, 65, 64, 60, 18, 16, 10, 17,
       15, 8, 13, 5, 12, 84, 59, 62, 68, 312, 61, 19, 2, 86, 80, 69, 72,
       3, 4, 7, 74, 11, 67, 87, 3.6, 1, 14, 1.5, 70, 2.42,
       'None indicated', 73, 6.5, 2.5, 75, 97, 'Nil', 71, 89, 96, 82, 77,
       66, 'Not indicated', 743, 78, 76, 'None', 9.5, 'nil', 79, 81,
       'none indicated', 90, 85, 91, 100, 101, 83, 92, 'not_indicated',
       5.5, 98, 'Not Indicated', '37', '36', '40', '38', '29', 94, 105,
       0.5, 'not Indicated', '30', '44', '33', '27', '26', '51', '28',
       'None Indicated', 542, 0.8, 0.9, 0.1, 1.6, 3.7, 0.2, 0.3, 2.8, 0.7,
       1.2, 2.1, 0.4, 4.5, 1.8, 2.9, 1.7, 0.6], dtype=object)

In [194]:
[x for x in df_years_rencol['AGE_YRS'].unique() if isinstance(x, str)]

['None indicated',
 'Nil',
 'Not indicated',
 'None',
 'nil',
 'none indicated',
 'not_indicated',
 'Not Indicated',
 '37',
 '36',
 '40',
 '38',
 '29',
 'not Indicated',
 '30',
 '44',
 '33',
 '27',
 '26',
 '51',
 '28',
 'None Indicated']

In [195]:
to_rep = ['None indicated',
 'Nil',
 'Not indicated',
 'None',
 'nil',
 'none indicated',
 'not_indicated',
 'Not Indicated',
 'not Indicated',
 'None Indicated',
 'NO PATIENT DATASHEET'
]

In [196]:
df_years_repnan2float = df_years_rencol.assign(AGE_YRS=df_years_rencol['AGE_YRS'].replace(to_rep, np.nan).astype(float))

In [197]:
df_years_repnan2float

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22221,COVC16833,0.8,M,NaN,Kenya,Nairobi,DONHOLM,No,NaN,NaN,NaN,2020-10-29 00:00:00,2020-10-29 00:00:00,Negative,2020-10-30 00:00:00
22477,COVC17089,0.6,M,NaN,Kenya,Mombasa,LIKONI,No,NaN,NaN,CO,2020-10-22 00:00:00,2020-10-27 00:00:00,Negative,2020-10-30 00:00:00
23419,COVC23794,0.2,M,NaN,Kenya,Kiambu,GITHUNGURI,No,NaN,NaN,H,2021-05-02 00:00:00,2021-05-05 00:00:00,Negative,2021-05-06 00:00:00
23540,COVC23131,2.5,F,NaN,Kenya,Mombasa,MVITA,No,NaN,NaN,NaN,2021-02-08 00:00:00,2021-02-11 00:00:00,Negative,2021-02-11 00:00:00
23925,COVC23661,0.1,F,NaN,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,NaN,2021-03-22 00:00:00,Positive,2021-03-22 00:00:00

### **Clean Gender**

In [359]:
df_years_repnan2float['GEND'].unique()

array(['M', 'F', 'f', 'Female', 'Male', 'F`', 'MALE ', 'MALE', nan, 'Nil',
       'T'], dtype=object)

In [360]:
df_years_repnan2float[df_years_repnan2float['GEND'].isna()].sort_values('S_NUM')

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9390,COVC00749,42.0,NaN,Nil,Kenyan,Laikipia,Laikipia East,N,NaN,Nanyuki Teaching and Referral Hospital,Asymtomatic,9th June 2020,"June 11, 2020",Neg,2020-06-12 00:00:00
12355,COVC01037,30.0,NaN,Nil,Kenyan,Nairobi,Embaksi,N,NaN,Nil,Asymtomatic,Nil,2020-06-15 00:00:00,Neg,2020-06-15 00:00:00
17411,COVC04494,NaN,NaN,NaN,Kenya,Nyeri,NaN,No,NaN,NaN,NaN,2020-07-14 00:00:00,NaN,Negative,2020-07-23 00:00:00
17412,COVC04495,NaN,NaN,NaN,Kenya,Nyeri,NaN,No,NaN,NaN,NaN,2020-07-14 00:00:00,NaN,Negative,2020-07-23 00:00:00
17413,COVC04496,NaN,NaN,NaN,Kenya,Nyeri,NaN,No,NaN,NaN,NaN,2020-07-14 00:00:00,NaN,Negative,2020-07-23 00:00:00
22764,COVC05236,NaN,NaN,NaN,NaN,Nyeri,NaN,NaN,NaN,NaN,NaN,2020-07-28 00:00:00,NaN,Negative,2020-07-31 00:00:00
22611,COVC05255,NaN,NaN,NaN,NaN,NaN,not_indicated,No,NaN,NaN,NaN,NaN,NaN,Negative,2020-07-31 00:00:00
12294,COVC13844,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12295,COVC13845,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12296,COVC13846,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12297,COVC13847,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12298,COVC13848,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12299,COVC13849,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12300,COVC13850,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12301,COVC13851,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12302,COVC13852,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12303,COVC13853,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12304,COVC13854,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
21287,COVC16256,NaN,NaN,NaN,Kenya,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-28 00:00:00,2020-10-28 00:00:00,Negative,2020-10-28 00:00:00
21288,COVC16257,NaN,NaN,NaN,Kenya,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-28 00:00:00,2020-10-28 00:00:00,Negative,2020-10-28 00:00:00
24175,KEM-012-IMC-004-12773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24176,KEM-012-IMC-557-12780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24172,KEM-012-IMH-533-12756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24173,KEM-012-IMN-538-12761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24174,KEM-012-IMN-539-12762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23286,NHRL-S014,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,NaN
23304,NHRL-S032,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,NaN
23305,NHRL-S033,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,NaN
23306,NHRL-S034,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,NaN
23307,NHRL-S035,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,NaN
23308,NHRL-S036,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,NaN
23309,NHRL-S037,NaN,NaN,NaN,Kenya,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,Positive,NaN

In [361]:
df_years_repnan2float[df_years_repnan2float['GEND'] == 'Nil']

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
10718,COVC00749,42.0,Nil,Nil,Kenyan,Laikipia,Laikipia East,N,NaN,Nanyuki Teaching and Referral Hospital,Asymtomatic,9th June 2020,"June 11, 2020",Neg,2020-06-12 00:00:00
15504,COVC01628,NaN,Nil,Nil,Nil,Nyeri,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN

COVEs:
- COVC13844
- COVC13845
- COVC13846
- COVC13847
- COVC13848
- COVC13849
- COVC13850
- COVC13851
- COVC13852
- COVC13853
- COVC16256
- COVC16257

In [362]:
df_years_repgender = df_years_repnan2float.assign(GEND=df_years_repnan2float['GEND'].replace(['f', 'Female', 'F`', 'T'], 'F')
                                                 .replace(['Male', 'MALE ', 'MALE'], 'M'))

In [363]:
df_years_repgender['GEND'].unique()

array(['M', 'F', nan, 'Nil'], dtype=object)

In [364]:
df_years_repgender['GEND'].replace('Nil', np.nan, inplace=True)

In [365]:
df_years_repgender['GEND'].unique()

array(['M', 'F', nan], dtype=object)

### **Clean Occupation**

In [366]:
df_years_repgender['OCCU'].unique()

array(['HCW', 'CEC', 'Psychologist', ..., 'Logistician', 'Hotel',
       'Child accompanying inmate mothe'], dtype=object)

In [367]:
df_years_repgender['OCCU'] = df_years_repgender['OCCU'].replace(['Nil','nil'], np.nan)

occu_dict = {'intial': 'ouso'}
for o in df_years_repgender['OCCU'].str.lower():
    print(o)
    if o not in occu_dict:
        for k in occu_dict.keys():
            if len(set(k.split()) & set(str(o).split()))/len(str(o)) >= 0.5:
                occu_dict[k].append(o)
            occu_dict[o] = []
    else: pass

In [368]:
for k in occu_dict.keys():
    print(k)

intial
hcw

In [369]:
'intial' in occu_dict#.keys()

True

### **Clean Nationality**

In [370]:
df_years_repgender['NAT'].unique()

array(['Kenya', 'Ethiopia', 'Somalia', 'Uganda', 'South Africa', 'India',
       'United States of America (USA)', 'Germany', 'Sudan',
       'South Sudan', nan, 'Lebanon', 'Sweden', 'Benin',
       'United Kingdom (UK)', 'Netherlands', 'Cuba', 'Kenyan', 'Indian',
       'Ghana', 'Zimbabwe', 'Rwanda', 'Mauritania', 'Denmark', 'Pakistan',
       'Tanzania', 'Canada', 'Congo, Democratic Republic of the',
       'Burundi', 'Italy', 'Australia', 'Colombia', 'Hungary', 'Djibouti',
       'Finland', 'kenya', 'Yemen', 'Turkey', 'Philippines', 'Nigeria',
       'Japan', 'Ireland', 'Tunisia', 'Burkina Faso', 'Brazil',
       'Portugal', 'Cameroon', 'Bangladesh', 'Madagascar',
       "Cote d'Ivoire", 'Egypt', 'China', 'KENYAN', 'Bulgaria', 'Nil',
       'Eritrea', 'Austria', 'Malawi', 'Congo, Republic of the',
       'Sri Lanka', 'United States', 'Jordan'], dtype=object)

In [371]:
df_years_repnat = df_years_repgender.assign(NAT=df_years_repgender['NAT'].replace('Nil', np.nan)
                                            .replace(['United States', 'Indian'
                                                      , 'Congo, Democratic Republic of the'
                                                     , 'Congo, Republic of the'] 
                                                     , ['United States of America (USA)','India'
                                                        , 'Democratic Republic of the Congo',
                                                       'Republic of the Congo'])
                                            .map(lambda x: str(x).replace(x, 'Kenya') if ('enya' in str(x).lower()) else x))

In [372]:
df_years_repnat['NAT'].unique()

array(['Kenya', 'Ethiopia', 'Somalia', 'Uganda', 'South Africa', 'India',
       'United States of America (USA)', 'Germany', 'Sudan',
       'South Sudan', nan, 'Lebanon', 'Sweden', 'Benin',
       'United Kingdom (UK)', 'Netherlands', 'Cuba', 'Ghana', 'Zimbabwe',
       'Rwanda', 'Mauritania', 'Denmark', 'Pakistan', 'Tanzania',
       'Canada', 'Democratic Republic of the Congo', 'Burundi', 'Italy',
       'Australia', 'Colombia', 'Hungary', 'Djibouti', 'Finland', 'Yemen',
       'Turkey', 'Philippines', 'Nigeria', 'Japan', 'Ireland', 'Tunisia',
       'Burkina Faso', 'Brazil', 'Portugal', 'Cameroon', 'Bangladesh',
       'Madagascar', "Cote d'Ivoire", 'Egypt', 'China', 'Bulgaria',
       'Eritrea', 'Austria', 'Malawi', 'Republic of the Congo',
       'Sri Lanka', 'Jordan'], dtype=object)

### **Clean County of Res**

In [373]:
df_years_repnat.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [374]:
len(df_years_repnat['S_COUNT_RES'].str.lower().unique())

880

In [375]:
len((df_years_repnat['S_COUNT_RES']
     .replace(['Nil', 'nan', '', 'Nan', 'Muranga ', 'Murang`a ']
                            , [np.nan, np.nan, np.nan, np.nan, "Murang'a", "Murang'a"])
                   .apply(lambda x: str(x).strip().capitalize())
     .unique()))

802

In [376]:
s_counties = (df_years_repnat['S_COUNT_RES']
     .replace(['Nil', 'nan', '', 'Nan', 'Muranga ', 'Murang`a ']
                            , [np.nan, np.nan, np.nan, np.nan, "Murang'a", "Murang'a"])
                   .apply(lambda x: str(x).replace(str(x), str(np.nan)) if ('indicate' in str(x)) else str(x).strip().capitalize())
              .replace('nan', np.nan))

In [377]:
# sorted([s for s in s_counties.unique()])

In [378]:
counties = (df_years_repnat['COUNT_RES']
                   .replace(['Nil', 'nan', '', 'Nan', 'Muranga ', 'Murang`a ']
                            , [np.nan, np.nan, np.nan, np.nan, "Murang'a", "Murang'a"])
                   .apply(lambda x: str(x).strip().capitalize() if (isinstance(x, str)) else x))

In [379]:
counties.unique()

array(['Nairobi', 'Kiambu', 'Kajiado', 'Machakos', 'Laikipia', 'Marsabit',
       'Makueni', "Murang'a", 'Isiolo', 'Garissa', 'Nakuru', 'Samburu',
       'Mombasa', 'Nan', 'Nyeri', 'Kisii', 'Tana river', 'Kitui', 'Wajir',
       'Nyandarua', 'Kirinyaga', 'Meru', 'Bungoma', 'Kakamega', 'Nandi',
       'Siaya', 'Kilifi', 'Kwale', 'Homabay', 'Muranga', 'Uganda',
       'Mandera', 'Uasin gishu', 'Kampala', 'Niarobi', 'Kisumu',
       'Badiere', 'Embu', 'Busia', 'Kigali', 'Mukono/uganda', 'Congo',
       'Nil', 'Vihiga', 'Narok', 'Kericho', 'Trans nzoia',
       'Elgeyo marakwet', 'Kajido', 'Taita taveta', 'Migori', 'Bomet',
       'Nyamira'], dtype=object)

In [380]:
df_years_county = (df_years_repnat.assign(COUNT_RES=counties)).assign(S_COUNT_RES=s_counties)

In [381]:
df_years_county['COUNT_RES'].unique()

array(['Nairobi', 'Kiambu', 'Kajiado', 'Machakos', 'Laikipia', 'Marsabit',
       'Makueni', "Murang'a", 'Isiolo', 'Garissa', 'Nakuru', 'Samburu',
       'Mombasa', 'Nan', 'Nyeri', 'Kisii', 'Tana river', 'Kitui', 'Wajir',
       'Nyandarua', 'Kirinyaga', 'Meru', 'Bungoma', 'Kakamega', 'Nandi',
       'Siaya', 'Kilifi', 'Kwale', 'Homabay', 'Muranga', 'Uganda',
       'Mandera', 'Uasin gishu', 'Kampala', 'Niarobi', 'Kisumu',
       'Badiere', 'Embu', 'Busia', 'Kigali', 'Mukono/uganda', 'Congo',
       'Nil', 'Vihiga', 'Narok', 'Kericho', 'Trans nzoia',
       'Elgeyo marakwet', 'Kajido', 'Taita taveta', 'Migori', 'Bomet',
       'Nyamira'], dtype=object)

### **Clean Subcounty of Res

In [382]:
df_years_scounty = df_years_county.assign(S_COUNT_RES=s_counties)

### **Clean Travel History**

In [383]:
df_years_scounty.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,Thika,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,Thika,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,Gatundu north,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [384]:
df_years_scounty['TRAV_HIST'].unique()

array(['No', nan, 'Yes', 'N', 'JH', 'no', 'NO ', 'Nil', 'YES', 'NONE ',
       'NONE', 'Y', 'y', 'yes'], dtype=object)

In [385]:
df_travl = df_years_scounty.assign(TRAV_HIST=df_years_scounty['TRAV_HIST'].replace([np.nan, 'N', 'no', 'NO', 'Nil', 'NONE ', 'NONE'], 'No')
           .replace(['YES', 'Y', 'y', 'yes'], 'Yes'))

In [386]:
df_travl['TRAV_FROM'].unique()

array([nan, 'ELDORET', 'NAIVASHA', 'NAIROBI;NYERI;NANYUKI', 'NIL',
       'Ruaka', 'Ngoingwa', 'Limuru', 'Thika', 'Embakasi', 'Uganda',
       'Dubai', 'Nil', 'Not indicated on form ', 'TORORO UGANDA',
       'UGANDA', 'AWASI', 'KIGALI', 'ENTEBE', 'NAIROBI', 'JINJA',
       'KISUMU', 'KAMPALA', 'KASESE', 'KILIFI COUNTY', 'KWALE COUNTY',
       'TORORO', 'KAMPALA UGANDA', 'RWANDA', 'JINJA UGANDA', 'KAJIADO',
       'TANZANIA', 'NOT APPLICABLE ', 'SOUTH SUDAN ', 'NYERI',
       'KWALE;KILIFI', 'KAKAMEGA', 'KWALE', 'Mombasa', 'Nairobi',
       'Eldoret', 'Malindi', 'Uasin Gishu', 'N', 'Machakos', 'No',
       'KILIFI/NAIROBI', 'NANYUKI SAGANA', 'THARAKA NITHI',
       'SHIMBA HILLS', 'KILIFI', 'MACHAKOS', 'Netherlands', 'TAVETA',
       'Mombasa (Stayed in Mtwapa for 4 days)', 'KINANGO MSAMBWENI',
       'MERU', 'THIKA', 'MUHONIA', 'KASESE UGANDA', 'KIRINYAGA', 'KIAMBU',
       'DAR ES SAALAM', 'TAITA TAVETA', 'Tanzania', 'not_indicated',
       'ETHIOPIA', 'Nyeri town', 'MALABA', 'NAKURU', 'Narok',
       'Within Kenya', 'Tharakanithi', 'Nyahururu', 'Nairobi and Kisumu',
       'Meru', 'Nairobi, Nyahururu', 'Nakuru, Meru', 'Busia', 'Bungoma',
       'Nanyuki', 'Not applicable', 'Not indicated', 'Kisii', 'Kiambu',
       'EMALI - MAKUENI', 'MAZERAS - KILIFI', 'Ngong', 'Tarbo',
       'Embu town', 'Kakamega', 'Nairobi and Busia'], dtype=object)

In [387]:
df_travl2 = (df_travl.assign(TRAV_FROM=df_travl['TRAV_FROM'].replace(['nan','NIL', 'Nil', 'Not indicated on form '
                  , 'NOT APPLICABLE ', 'N', 'N', 'No', 'not_indicated', 'Not applicable', 'Not indicated'],np.nan)
                    .replace(['Mombasa (stayed in mtwapa for 4 days)', 'KINANGO MSAMBWENI', 'Nan'
                              , 'Mombasa (Stayed in Mtwapa for 4 days)'], 
                    ['Mtwapa', 'Kinangop;Msambweni', np.nan, 'Mtwapa'])
                    .apply(lambda x: str(x).replace('/', ';')
                    .replace(' and ', ';')
                    .replace('-', ';')
                    .replace(',', ';')
                    .replace(' ; ', ';')
                    .replace('; ', ';')
                    .strip().capitalize() if (isinstance(x, str) else x))))

In [388]:
df_travl2['TRAV_FROM'].unique()

array(['Nan', 'Eldoret', 'Naivasha', 'Nairobi;nyeri;nanyuki', 'Ruaka',
       'Ngoingwa', 'Limuru', 'Thika', 'Embakasi', 'Uganda', 'Dubai',
       'Tororo uganda', 'Awasi', 'Kigali', 'Entebe', 'Nairobi', 'Jinja',
       'Kisumu', 'Kampala', 'Kasese', 'Kilifi county', 'Kwale county',
       'Tororo', 'Kampala uganda', 'Rwanda', 'Jinja uganda', 'Kajiado',
       'Tanzania', 'South sudan', 'Nyeri', 'Kwale;kilifi', 'Kakamega',
       'Kwale', 'Mombasa', 'Malindi', 'Uasin gishu', 'Machakos',
       'Kilifi;nairobi', 'Nanyuki sagana', 'Tharaka nithi',
       'Shimba hills', 'Kilifi', 'Netherlands', 'Taveta', 'Mtwapa',
       'Kinangop;msambweni', 'Meru', 'Muhonia', 'Kasese uganda',
       'Kirinyaga', 'Kiambu', 'Dar es saalam', 'Taita taveta', 'Ethiopia',
       'Nyeri town', 'Malaba', 'Nakuru', 'Narok', 'Within kenya',
       'Tharakanithi', 'Nyahururu', 'Nairobi;kisumu', 'Nairobi;nyahururu',
       'Nakuru;meru', 'Busia', 'Bungoma', 'Nanyuki', 'Kisii',
       'Emali;makueni', 'Mazeras;kilifi', 'Ngong', 'Tarbo', 'Embu town',
       'Nairobi;busia'], dtype=object)

In [389]:
df_travl2.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,Nan,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,Nan,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,Thika,No,Nan,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,Thika,No,Nan,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,Gatundu north,No,Nan,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

### **Clean Symptoms**

In [429]:
df_travl2['SYMPS'] = (df_travl2['SYMPS'].apply(lambda x: str(x).replace(str(x), str(np.nan)) if ('symtom' in str(x)) else str(x).replace('F/C', 'FC'))
                      .replace(['[=]','nan'], np.nan))

### **Clean Dates**

In [430]:
def my_date_parser(x):
    try:
        if type(x) == pd.Timestamp:
            x = x.strftime('%d-%m-%Y')
        elif type(x) != pd.Timestamp and type(x) != (int, float, pd.NaT):
            x = pd.to_datetime(x, errors='ignore', dayfirst=True, infer_datetime_format=True).strftime('%d-%m-%Y')
        elif x in ['None indicated', 'NIL', 'Not indicated on form ',
                    'Nil', 'None indicated', 'Leaked Sample - Empty', 'nan']:
            x = np.nan
    except (ValueError, AttributeError):
        x = pd.NaT
    return x

In [431]:
df_dt1 = df_travl2.assign(DT_SAM_COLL=df_travl2['DT_SAM_COLL'].apply(lambda x: my_date_parser(x)))

In [432]:
df_dt2 = df_dt1.assign(DT_SAM_RECEP=df_dt1['DT_SAM_RECEP'].apply(lambda x: my_date_parser(x)))

In [433]:
df_dts_cln = df_dt2.assign(DT_CONF=df_dt2['DT_CONF'].apply(lambda x: my_date_parser(x)))

In [434]:
df_dts_cln.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,Nan,NaN,NaN,01-01-2021,01-01-2021,Negative,01-01-2021
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,Nan,NaN,FLU,31-12-2020,01-01-2021,Negative,01-01-2021
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,Thika,No,Nan,NaN,NaN,01-01-2021,01-01-2021,Negative,01-01-2021
3,COVC22774,52.0,F,Business,Kenya,Kiambu,Thika,No,Nan,NaN,CO;DIB,02-01-2021,01-01-2021,Negative,01-01-2021
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,Gatundu north,No,Nan,NaN,CO;DIB,03-01-2021,01-01-2021,Positive,01-01-2021

### **Clean Results**

In [435]:
df_dts_cln['RESULT'].unique()

array(['Negative', 'Positive', nan, 'neg', 'pos', 'negative', 'positive',
       'Neg', 'Pos', 'Inconclusive', 'MS', 'Positve', 'Positive '],
      dtype=object)

In [436]:
df_dts_cln['RESULT'].map(lambda x: x.strip().lower() if (isinstance(x, str)) else x).unique()

array(['negative', 'positive', nan, 'neg', 'pos', 'inconclusive', 'ms',
       'positve'], dtype=object)

In [437]:
def cln_results(x):
    if isinstance(x, str):
        x = x.strip().lower()
        if 'neg' in x:
            x = x.replace(x, 'Negative')
        elif 'pos' in x:
            x = x.replace(x, 'Positive')
        elif x == 'inconclusive':
            x = x.replace(x, 'Inconclusive')
    return x

In [438]:
df_dts_cln['RESULT'] = df_dts_cln['RESULT'].map(lambda x: cln_results(x))

In [439]:
df_dts_cln['RESULT'].unique()

array(['Negative', 'Positive', nan, 'Inconclusive', 'ms'], dtype=object)

In [440]:
df_dts_cln.head(2)

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,Nan,NaN,NaN,01-01-2021,01-01-2021,Negative,01-01-2021
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,Nan,NaN,FLU,31-12-2020,01-01-2021,Negative,01-01-2021

### **Remove Duplicates**

In [441]:
df_cln_srt = df_dts_cln.sort_values(['S_NUM', 'DT_CONF'])

In [442]:
df_cln_srt[df_cln_srt.duplicated(['S_NUM', 'DT_CONF'], keep=False) == True]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9349,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
10677,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
9350,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
10678,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
9351,COVC00710,45.0,M,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23649,COVC23780,23.0,F,Student,Uganda,Nairobi,Kileleshwa,No,Nan,NaN,NaN,12-04-2021,12-04-2021,Negative,13-04-2021
12341,COVC23781,NaN,F,NaN,Kenya,Nairobi,Nan,No,Nan,NaN,NaN,14-04-2021,14-04-2021,Positive,15-04-2021
23667,COVC23781,NaN,F,NaN,Kenya,Nairobi,Nan,No,Nan,NaN,NaN,14-04-2021,14-04-2021,Positive,15-04-2021
24102,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,Nan,NaN,"Cough, Runny nose",04-03-2021,NaT,Positive,11-03-2021
24228,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,Nan,NaN,"Cough, Runny nose",04-03-2021,NaT,Positive,11-03-2021

In [443]:
df_cln_srt[df_cln_srt.duplicated(keep=False) == True]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9349,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
10677,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
9350,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
10678,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
9351,COVC00710,45.0,M,NaN,Kenya,Laikipia,Laikipia east,No,Nan,Nanyuki Teaching and Referral Hospital,NaN,09-06-2020,11-06-2020,Negative,12-06-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23649,COVC23780,23.0,F,Student,Uganda,Nairobi,Kileleshwa,No,Nan,NaN,NaN,12-04-2021,12-04-2021,Negative,13-04-2021
12341,COVC23781,NaN,F,NaN,Kenya,Nairobi,Nan,No,Nan,NaN,NaN,14-04-2021,14-04-2021,Positive,15-04-2021
23667,COVC23781,NaN,F,NaN,Kenya,Nairobi,Nan,No,Nan,NaN,NaN,14-04-2021,14-04-2021,Positive,15-04-2021
24102,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,Nan,NaN,"Cough, Runny nose",04-03-2021,NaT,Positive,11-03-2021
24228,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,Nan,NaN,"Cough, Runny nose",04-03-2021,NaT,Positive,11-03-2021

In [444]:
df_dedud = df_cln_srt.drop_duplicates(['S_NUM', 'DT_CONF'], keep='first')

In [445]:
df_dedud.shape

(23100, 15)

### **Export Cleaned Data**

In [446]:
df_dedud.to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged-cln.xlsx', index=False)

In [447]:
df_dedud[df_dedud['RESULT'] == 'Positive'].to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged-cln-pos.xlsx', index=False)

In [448]:
df_dedud_pos = df_dedud[df_dedud['RESULT'] == 'Positive']

In [449]:
df_dedud[df_dedud['S_NUM'].str.contains('COVC') == False]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9011,COVE20,39.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,Nan,NaN,NaN,10-09-2020,10-09-2020,Negative,11-09-2020
9012,COVE21,50.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,Nan,NaN,NaN,10-09-2020,10-09-2020,Negative,11-09-2020
24175,KEM-012-IMC-004-12773,NaN,NaN,NaN,NaN,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,NaN,NaT
24176,KEM-012-IMC-557-12780,NaN,NaN,NaN,NaN,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,NaN,NaT
24172,KEM-012-IMH-533-12756,NaN,NaN,NaN,NaN,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23306,NHRL-S034,NaN,NaN,NaN,Kenya,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,Positive,NaT
23307,NHRL-S035,NaN,NaN,NaN,Kenya,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,Positive,NaT
23308,NHRL-S036,NaN,NaN,NaN,Kenya,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,Positive,NaT
23309,NHRL-S037,NaN,NaN,NaN,Kenya,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,Positive,NaT
16345,NIL,40.0,M,NaN,Kenya,Laikipia,Laikipia east,No,Nan,NTRH,NaN,18-06-2020,NaT,Negative,20-06-2020

In [450]:
df_dedud[df_dedud['S_NUM'].str.contains('COVC') == False]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9011,COVE20,39.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,Nan,NaN,NaN,10-09-2020,10-09-2020,Negative,11-09-2020
9012,COVE21,50.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,Nan,NaN,NaN,10-09-2020,10-09-2020,Negative,11-09-2020
24175,KEM-012-IMC-004-12773,NaN,NaN,NaN,NaN,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,NaN,NaT
24176,KEM-012-IMC-557-12780,NaN,NaN,NaN,NaN,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,NaN,NaT
24172,KEM-012-IMH-533-12756,NaN,NaN,NaN,NaN,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23306,NHRL-S034,NaN,NaN,NaN,Kenya,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,Positive,NaT
23307,NHRL-S035,NaN,NaN,NaN,Kenya,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,Positive,NaT
23308,NHRL-S036,NaN,NaN,NaN,Kenya,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,Positive,NaT
23309,NHRL-S037,NaN,NaN,NaN,Kenya,Nan,Nan,No,Nan,NaN,NaN,NaT,NaT,Positive,NaT
16345,NIL,40.0,M,NaN,Kenya,Laikipia,Laikipia east,No,Nan,NTRH,NaN,18-06-2020,NaT,Negative,20-06-2020

11-09-2020

COVC9774
COVC9775
COVE20
COVE21
COVC9776
COVC9777

### **ID Misssing Data**

In [451]:
start = 0
df_missing = pd.DataFrame(columns=cols_rename)
for num in df_dedud['S_NUM'].sort_values():
#     curr_row = df_dts_cln[df_dts_cln['S_NUM']]
    try:
        curr = int(num.lstrip('COVC').lstrip('0'))
        
        if curr - start > 1:
            start_id = f'COVC{start}'
            cov_id = f'COVC{curr}'
            df_missing = df_missing.append(df_dts_cln[df_dts_cln['S_NUM'] == cov_names(start_id)])
            df_missing = df_missing.append(df_dts_cln[df_dts_cln['S_NUM'] == cov_names(cov_id)])
        start = curr
    except ValueError:
#         print(f'ValueError: {num}')
        pass

In [452]:
df_missing.head()

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF,AGE_YRS
12948,COVC10130,NaN,NaN,M,Driver,Kenya,Nairobi,Dagoretti,Yes,Nan,NaN,NaN,14-09-2020,14-09-2020,Negative,15-09-2020,44.0
17110,COVC10467,NaN,NaN,F,CANON LAWYER,Kenya,Nairobi,Dagoretti,No,Nan,NaN,NaN,21-09-2020,21-09-2020,Negative,22-09-2020,48.0
3619,COVC11947,NaN,NaN,M,NaN,Kenya,Mombasa,Likoni,No,Nan,NaN,NaN,28-09-2020,03-10-2020,Negative,05-10-2020,27.0
5205,COVC12262,NaN,NaN,M,Driver,Kenya,Mombasa,Jomvu,Yes,Tororo,NaN,NaN,02-10-2020,04-10-2020,Negative,07-10-2020,36.0
17780,COVC15233,NaN,NaN,M,LDH,Kenya,Mombasa,Likoni,No,Nan,NaN,NaN,19-10-2020,22-10-2020,Negative,23-10-2020,29.0

In [453]:
(df_missing[['S_NUM', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'DT_CONF']]
 .sort_values('S_NUM')
 .drop_duplicates('S_NUM', keep='first')
 .to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged-missingII.xlsx', index=False))

### **ID Missing Results**

In [454]:
(df_dts_cln[df_dts_cln['RESULT'].isin(['Positive', 'Negative']) == 
            False][['S_NUM', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'DT_CONF', 'RESULT']]
.to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged-results-missingII.xlsx', index=False))

### **Filter Samples Seq'd in seq10**

In [455]:
# df_waiting = pd.read_excel('/home/douso/Documents/RunSheets/BioRepository/cov-positiveCtsLocsIII-flt.xlsx')
# df_ext_seq10 = pd.read_excel('/home/douso/Documents/RunSheets/BioRepository/run10_extractionplates.xlsx')

In [456]:
# df_waiting.head()

In [457]:
# df_ext_seq10.head()

In [458]:
# ext_list = list(df_ext_seq10['Sample_Name'])

In [459]:
# df_waiting11 = df_waiting[df_waiting['Sample_Name'].isin(ext_list) == False]

In [460]:
# df_waiting11.to_excel('/home/douso/Documents/RunSheets/BioRepository/cov-positiveCtsLocsIII-flt2.xlsx', index=False)

In [461]:
# plt.style.available

### **Get GSAID Data**

In [467]:
df_gsaid = pd.read_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/metadata_for_gisaid_ouso.xlsx')

In [468]:
df_gsaid.head()

,Sequence_name,Date_of_Sample_Collection,County_of_Residence,Gender,Patient Age,Sequencing Technology
0,COVC00854,NaT,NaN,NaN,NaN,Illumina MiSeq
1,COVC00893,NaT,NaN,NaN,NaN,Illumina MiSeq
2,COVC00962,2020-06-08,Nairobi,M,NaN,Illumina MiSeq
3,COVC00987,2020-06-08,Nairobi,M,NaN,Illumina MiSeq
4,COVC00998,2020-06-08,Nairobi,M,NaN,Illumina MiSeq

In [469]:
gsaid_seq_nam = list(df_gsaid['Sequence_name'])

In [470]:
df_gsaid_export = df_dedud[df_dedud['S_NUM'].isin(gsaid_seq_nam) == True]

In [471]:
df_gsaid_export.to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/metadata_gisaid_ousoII.xlsx', index=False)