$15^{th}$ Jul 2021

In [1]:
import pandas as pd
import os, glob
import matplotlib.pyplot as plt
import numpy as np

from datetime import datetime

In [2]:
# df = pd.read_excel('/home/douso/Documents/TrendData/Results/COVID-19-Test_result_Reporting_01_01_2021.xlsx', header=1)

In [3]:
cols_of_interest = ['SAMPLE_NUMBER', 'AGE', 'AGE_UNIT_(DAYS/MONTHS/YEARS)', 'GENDER_(M/F)', 'OCCUPATION', 'NATIONALITY', 
           'COUNTY_OF_RESIDENCE', 'SUB_COUNTY_OF_RESIDENCE', 'HAS_TRAVEL_HOSTORY(LAST_14_DAYS)_Y/N', 'TRAVEL_FROM', 
           'QUARANTINE_FACILITY/HOSPITAL/HOMESTEAD', 'SYMTOMS_SHOWN_(COUGH;FEVER;ETC)', 'DATE_OF_SAMPLE_COLLECTION', 
           'DATE_SAMPLE_RECEIVED_IN_THE_LAB', 'RESULT', 'LAB_CONFIRMATION_DATE']

In [4]:
data_dir = '/home/douso/Documents/TrendData/Results'
files = os.listdir(data_dir)
files = sorted(files)

In [5]:
def get_trend_data(df, cols):
    df_new = df.copy()
    df_new.columns = [col.replace(' ', '_').upper() for col in df.columns]
    df_cln = df_new[df_new['SAMPLE_NUMBER'].notna()]
    return df_cln[cols]

In [6]:
# keyerrors = []
# df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     try:
#         df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#         df_data = get_trend_data(df_file, 'DATE_SAMPLE_RECEIVED_IN_THE_LAB')
# #         df_raw = df_raw.append(df_data)
#         count += 1
#     except: 
#         if KeyError:
#             keyerrors.append(file)
#         elif ValueError:
#             print(f'ValueError: {file}')
#     finally: pass
# print(len(keyerrors))
# sorted(keyerrors)

In [7]:
# files = ['COVID-19-Test_result_Reporting_01_07_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_01_07_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_05_09_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_05_09_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_08_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_15_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_31_07_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_31_07_2020-B.xlsx']

In [8]:
# for file in files:
#     df = pd.read_excel(f'{data_dir}/{file}', header=1)
#     try:
#         df.insert(27, 'DATE SAMPLE RECEIVED IN THE LAB', pd.NaT)
#         df.to_excel(f'/home/douso/Documents/TrendData/Results/add_col/{file}', index=False, startrow=1)
#     except:
#         raise
#         print (f'Error: {file}')
#     finally: pass

In [9]:
# keyerrors = []
# df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     try:
#         df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#         df_data = get_trend_data(df_file, cols_of_interest)
#         df_raw = df_raw.append(df_data)
#         count += 1
#     except: 
#         if KeyError:
#             keyerrors.append(file)
#         elif ValueError:
#             print(f'ValueError: {file}')
#     finally: pass
# print(len(keyerrors))
# sorted(keyerrors)

In [10]:
headers = ['TESTING LAB', 'CASE ID', 'TYPE OF CASE (INITIAL/REPEAT)',
       'SAMPLE NUMBER', 'NAME', 'ID/PASSPORT NUMBER', 'AGE',
       'AGE UNIT (DAYS/MONTHS/YEARS)', 'GENDER (M/F)', 'PHONE NUMBER',
       'OCCUPATION', 'NATIONALITY', 'COUNTY OF RESIDENCE',
       'SUB COUNTY OF RESIDENCE', 'VILLAGE/ESTATE OF RESIDENCE', 'WARD',
       'COUNTY OF DIAGNOSIS', 'HAS TRAVEL HOSTORY(LAST 14 DAYS) Y/N',
       'TRAVEL FROM', 'CONTACT WITH CASE Y/N', 'CONFIRMED CASE NAME',
       'QUARANTINE FACILITY/HOSPITAL/HOMESTEAD', 'HAVE SYMPTOMS Y/N',
       'DATE OF ONSET OF SYMPTOMS', 'SYMTOMS SHOWN (COUGH;FEVER;ETC)',
       'SAMPLE TYPE (NP SWAB, OP SWAB, SERUM SPUTUM ETC)',
       'DATE OF SAMPLE COLLECTION', 'DATE SAMPLE RECEIVED IN THE LAB',
       'RESULT', 'LAB CONFIRMATION DATE']

In [11]:
id_headers = ['SAMPLE_NUMBER', 'NAME', 'ID/PASSPORT_NUMBER', 'AGE',
       'AGE_UNIT_(DAYS/MONTHS/YEARS)', 'GENDER_(M/F)', 'PHONE_NUMBER', 'RESULT',
       'LAB_CONFIRMATION_DATE']

In [12]:
# for file in keyerrors[:-1]:
#     df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#     df_file.columns = headers
#     df_file.to_excel(f'{data_dir}/add_col2/{file}', startrow=1)

The following 60 sheets, besides some June sheets (manually fixed earlier), lacked the `DATE_SAMPLE_RECEIVED_IN_THE_LAB` column, it was added for uniformity:

- 'COVID-19-Test_result_Reporting_01_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_01_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_02_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_03_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_03_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_03_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_04_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_04_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_04_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_05_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_05_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_05_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_06_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_06_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_07_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_07_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_07_09_2020.xlsx'
- 'COVID-19-Test_result_Reporting_08_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_08_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_09_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_09_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_10_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_11_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_12_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_13_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_13_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_14_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_14_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_15_08_2020-A.xlsx'
- 'COVID-19-Test_result_Reporting_15_08_2020-B.xlsx'
- 'COVID-19-Test_result_Reporting_16_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_16_10_2020 (1).xlsx'
- 'COVID-19-Test_result_Reporting_17_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_17_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_18_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_18_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_19_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_19_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_20_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_20_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_21_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_21_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_21_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_22_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_23_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_24_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_24_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_24_08_2020-A.xlsx'
- 'COVID-19-Test_result_Reporting_24_08_2020-B.xlsx'
- 'COVID-19-Test_result_Reporting_25_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_25_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_27_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_27_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_27_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_28_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_28_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_28_08_2020.xlsx'
- 'COVID-19-Test_result_Reporting_29_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_29_07_2020.xlsx'
- 'COVID-19-Test_result_Reporting_29_08_2020.xlsx'

In [13]:
# files = ['COVID-19-Test_result_Reporting_01_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_01_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_02_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_03_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_03_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_03_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_04_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_04_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_04_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_05_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_05_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_05_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_06_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_06_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_07_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_07_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_07_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_08_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_08_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_09_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_09_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_10_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_11_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_12_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_13_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_13_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_14_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_14_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_15_08_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_15_08_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_16_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_16_10_2020 (1).xlsx',
#  'COVID-19-Test_result_Reporting_17_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_17_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_19_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_19_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_20_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_20_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_21_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_21_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_21_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_22_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_23_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_24_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_24_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_24_08_2020-A.xlsx',
#  'COVID-19-Test_result_Reporting_24_08_2020-B.xlsx',
#  'COVID-19-Test_result_Reporting_25_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_25_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_27_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_27_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_27_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_28_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_28_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_28_08_2020.xlsx',
#  'COVID-19-Test_result_Reporting_29_06_2020.xlsx',
#  'COVID-19-Test_result_Reporting_29_07_2020.xlsx',
#  'COVID-19-Test_result_Reporting_29_08_2020.xlsx']

In [14]:
# for file in files:
#     df = pd.read_excel(f'{data_dir}/{file}', header=1)
#     try:
#         df.insert(27, 'DATE SAMPLE RECEIVED IN THE LAB', np.nan)
#         df.to_excel(f'{data_dir}/add_col/{file}', index=False, startrow=1)
#     except:
#         raise
#         print (f'Error: {file}')
#     finally: pass

The follwing sheets have missing values for the `RESULT` column:
- 'COVID-19-Test_result_Reporting_20_06_2020.xlsx'
- 'COVID-19-Test_result_Reporting_16_06_2020.xlsx'

Updated column names of some of the Jun files ['GENDER_(M/F)', 'LAB_CONFIRMATION_DATE', 'RESULT']

In [15]:
# df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     if file.endswith('.xlsx'):
#         try:
#             df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#             df_data = get_trend_data(df_file, cols_of_interest)
#             df_raw = df_raw.append(df_data)
#             count += 1
#         except: 
#             if KeyError:
# #                 raise
#                 print(f'KeyError: {file}')
#             elif ValueError:
#                 print(f'ValueError: {file}')
#         finally: pass
#     pass
# print(f'Files processed: {count}')
# print(f'Files in the folder: {len(files)}')

### Travel History Missing - the HOSTORY misspelling

- COVID-19-Test_result_Reporting_09_09_2020.xlsx
- COVID-19-Test_result_Reporting_11_09_2020.xlsx
- COVID-19-Test_result_Reporting_12_09_2020.xlsx
- COVID-19-Test_result_Reporting_14_09_2020.xlsx
- COVID-19-Test_result_Reporting_15_09_2020.xlsx
- COVID-19-Test_result_Reporting_18_10_2020.xlsx
- Files processed: 249
- Files in the folder: 256

In [16]:
# keyerrors = []
# # df_raw = pd.DataFrame()
# count = 0
# for file in files:
#     try:
#         df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#         df_data = get_trend_data(df_file, cols_of_interest)
# #         df_raw = df_raw.append(df_data)
#         count += 1
#     except: 
#         if KeyError:
#             keyerrors.append(file)
#         elif ValueError:
#             print(f'ValueError: {file}')
#     finally: pass
# print(len(keyerrors))
# sorted(keyerrors)

In [17]:
# files = ['COVID-19-Test_result_Reporting_09_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_11_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_12_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_14_09_2020.xlsx',
#  'COVID-19-Test_result_Reporting_15_09-2020.xlsx',
#  'COVID-19-Test_result_Reporting_18_10_2020.xlsx']

In [18]:
# for file in files:
#     df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
#     (df_file.rename(columns={'HAS TRAVEL HISTORY(LAST 14 DAYS) Y/N': 'HAS TRAVEL HOSTORY(LAST 14 DAYS) Y/N'}, errors='raise').
#     to_excel(f'{data_dir}/rename_col/{file}', index=False, startrow=1))

### Start of find repeat tests

In [19]:
sorted(list(set(map(lambda x: x.replace('_', ' '), id_headers)) & set(headers))) == sorted(list(map(lambda x: x.replace('_', ' '), id_headers)))

True

In [20]:
df_raw_ids = pd.DataFrame()
count = 0
for file in files:
    if file.endswith('.xlsx'):
        try:
            df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
            if (sorted(list(set(map(lambda x: x.replace('_', ' '), 
                id_headers)) & set(headers))) == sorted(list(map(lambda x: 
                x.replace('_', ' '), id_headers)))):
                df_data = get_trend_data(df_file, id_headers)
                df_raw_ids = df_raw_ids.append(df_data)
                count += 1
            
        except: 
            if KeyError:
#                 raise
                print(f'KeyError: {file}')
            elif ValueError:
                print(f'ValueError: {file}')
        finally: pass
    pass
print(f'Files processed: {count}')
print(f'Files in the folder: {len(files)}')

/home/douso/.local/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

KeyError: COVID-19-Test_result_Reporting_03_06_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_10_06_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_11_06_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_15_06_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_Missing-A.xlsx
KeyError: COVID-19-Test_result_Reporting_Missing-B.xlsx
KeyError: COVID-19-Test_result_Reporting_NHRL_02_06_2021.xlsx
KeyError: seq-kemri-150samples.xlsx
Files processed: 279
Files in the folder: 288

In [21]:
df_raw_ids['LAB_CONFIRMATION_DATE'] = df_raw_ids['LAB_CONFIRMATION_DATE'].apply(lambda x: pd.to_datetime(x, errors='coerce'))

In [22]:
df_raw_ids.info()#pd.to_datetime('2021-01-01 00:00:00', errors='coerce')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24638 entries, 0 to 1
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   SAMPLE_NUMBER                 24638 non-null  object
 1   NAME                          24167 non-null  object
 2   ID/PASSPORT_NUMBER            17712 non-null  object
 3   AGE                           23457 non-null  object
 4   AGE_UNIT_(DAYS/MONTHS/YEARS)  23794 non-null  object
 5   GENDER_(M/F)                  24619 non-null  object
 6   PHONE_NUMBER                  22517 non-null  object
 7   RESULT                        24220 non-null  object
 8   LAB_CONFIRMATION_DATE         24631 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(8)
memory usage: 1.9+ MB

In [23]:
df_2021 = df_raw_ids[df_raw_ids['LAB_CONFIRMATION_DATE'] > pd.to_datetime('2021-01-01')]# & df_raw_ids['LAB_CONFIRMATION_DATE'] < pd.to_datetime(datetime.now())]
df_2021.shape

(1957, 9)

In [24]:
df_2021['ID/PASSPORT_NUMBER']=df_2021['ID/PASSPORT_NUMBER'].astype(str).apply(lambda x: x.replace('.0', ''))

<ipython-input-24-749b36992416>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['ID/PASSPORT_NUMBER']=df_2021['ID/PASSPORT_NUMBER'].astype(str).apply(lambda x: x.replace('.0', ''))

In [25]:
df_2021[df_2021.sort_values('ID/PASSPORT_NUMBER', ignore_index=True).duplicated(['ID/PASSPORT_NUMBER'], False)==True].sort_values('ID/PASSPORT_NUMBER').drop_duplicates(keep=False).sort_values('ID/PASSPORT_NUMBER').to_excel('../SomeFIle.xlsx')#dropna(subset=['ID/PASSPORT_NUMBER'])

<ipython-input-25-25b4d3a8d388>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_2021[df_2021.sort_values('ID/PASSPORT_NUMBER', ignore_index=True).duplicated(['ID/PASSPORT_NUMBER'], False)==True].sort_values('ID/PASSPORT_NUMBER').drop_duplicates(keep=False).sort_values('ID/PASSPORT_NUMBER').to_excel('../SomeFIle.xlsx')#dropna(subset=['ID/PASSPORT_NUMBER'])

In [26]:
pd.to_datetime(datetime.now())

Timestamp('2021-08-03 09:33:57.504493')

In [27]:
df_raw_ids['PHONE_NUMBER']=df_raw_ids['PHONE_NUMBER'].apply(lambda x: str(x).lstrip('0').replace('.0', ''))

In [28]:
df_ids_phone = df_raw_ids[(df_raw_ids
             .sort_values('PHONE_NUMBER', ignore_index=True)#, key=lambda col: col.astype(str))
            .duplicated(['PHONE_NUMBER'], keep=False)) == True]
df_ids_phone.shape

<ipython-input-28-d8dea41ffa14>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_ids_phone = df_raw_ids[(df_raw_ids

(6905, 9)

In [29]:
phones = df_ids_phone.dropna(subset=['PHONE_NUMBER'])
phones.shape

(6905, 9)

In [30]:
phones = df_ids_phone[df_ids_phone['PHONE_NUMBER'].isna() == False].sort_values('PHONE_NUMBER', key=lambda col: col.astype(str))
phones.shape

(6905, 9)

In [31]:
phones#['PHONE_NUMBER']=phones['PHONE_NUMBER'].astype(str).apply(lambda x: x.rstrip('.0'))

,SAMPLE_NUMBER,NAME,ID/PASSPORT_NUMBER,AGE,AGE_UNIT_(DAYS/MONTHS/YEARS),GENDER_(M/F),PHONE_NUMBER,RESULT,LAB_CONFIRMATION_DATE
163,COVC21659,KIOKO GIOKO,NaN,17.0,Years,M,10070447,Negative,2020-11-19
156,COVC3119,Prijapat Govind,Nil,Nil,Years,M,100939039,Negative,2020-07-05
177,COVC13718,MUGOYA KHALIFANI,9310091781389,53.0,Years,M,101285142,Negative,2020-10-12
3,COVC22798,ABDIRAHMAN MOHAMED,19RF07998,65,Years,M,101489315,Negative,2021-01-08
127,COVC14811,KENNEDY MBURU,38647399,19.0,Years,M,110030699,Negative,2020-10-21
...,...,...,...,...,...,...,...,...,...
38,COVC5484,Julius Irungu,None Indicated,34,Years,M,nan,Negative,2020-08-04
1,COVC23789,NaN,NaN,NaN,Years,M,nan,Negative,2021-04-30
84,COVC1014,Mepukori Mathew Benjamin,nil,28,NaN,M,nil,Neg,2020-06-14
28,COVC3954,Gregory Miyanga Wanjala,Nil,59.0,Years,M,nil,Negative,2020-07-15
29,COVC3955,Francis Mutua Mwania,Nil,50.0,Years,M,nil,Positive,2020-07-15

In [32]:
phones2 = phones.sort_values('PHONE_NUMBER').drop_duplicates('PHONE_NUMBER', False)
phones2.shape

(4915, 9)

In [33]:
phones2_list = list(phones2['PHONE_NUMBER'])

In [34]:
df_phones_rep = phones[phones['PHONE_NUMBER'].isin(phones2_list) == False].sort_values('SAMPLE_NUMBER').drop_duplicates(['SAMPLE_NUMBER'], False).sort_values('PHONE_NUMBER')
df_phones_rep = df_phones_rep[df_phones_rep.duplicated('PHONE_NUMBER', False) == True]
df_phones_rep.shape

(1287, 9)

In [35]:
df_phones_rep1 = df_phones_rep.drop(df_phones_rep[df_phones_rep['PHONE_NUMBER'].str.contains('ndicat')].index)

In [36]:
df_phones_rep2 = df_phones_rep1.drop(df_phones_rep1[df_phones_rep1['PHONE_NUMBER'].str.contains('il')].index)
df_phones_rep2

,SAMPLE_NUMBER,NAME,ID/PASSPORT_NUMBER,AGE,AGE_UNIT_(DAYS/MONTHS/YEARS),GENDER_(M/F),PHONE_NUMBER,RESULT,LAB_CONFIRMATION_DATE
37,COVC18244,MARY WANGUI,NaN,38.0,Years,F,701174582,Negative,2020-11-05
38,COVC18245,PETER KARIMI,NaN,9.0,Years,M,701174582,Negative,2020-11-05
264,COVC17088,PHILOMENA SAMBA,22406551,38.0,Years,F,701677065,Negative,2020-10-30
265,COVC17089,RAPHAEL MBITA,NaN,7.0,Months,M,701677065,Negative,2020-10-30
266,COVC17090,PATRICK MBITA,NaN,6.0,Years,M,701677065,Positive,2020-10-30
...,...,...,...,...,...,...,...,...,...
289,COVC16081,NaN,NaN,NaN,Years,M,nan,Negative,2020-10-28
288,COVC16080,NaN,NaN,NaN,Years,M,nan,Negative,2020-10-28
285,COVC16077,NaN,NaN,NaN,Years,M,nan,Negative,2020-10-28
284,COVC16076,NaN,NaN,NaN,Years,M,nan,Negative,2020-10-28
137,COVC22129,DAVID KIILU KAMACHA,NaN,58.0,Years,M,nan,Negative,2020-11-25

In [37]:
df_phones_rep3 = df_phones_rep1.drop(df_phones_rep1[df_phones_rep1['PHONE_NUMBER'].str.contains('nan')].index)
df_phones_rep3

,SAMPLE_NUMBER,NAME,ID/PASSPORT_NUMBER,AGE,AGE_UNIT_(DAYS/MONTHS/YEARS),GENDER_(M/F),PHONE_NUMBER,RESULT,LAB_CONFIRMATION_DATE
409,COVC20298,ADRIEL LUSIGI,NaN,10.0,Months,M,703164989,Negative,2020-11-12
408,COVC20297,ZIPORAH OGOLL,22397443,38.0,Years,F,703164989,Negative,2020-11-12
408,COVC11792,GEORGE FARES,LR16448068,51.0,Years,M,714780335,Negative,2020-10-05
219,COVC15194,JOSEPH LUUSF NZUMBU,1886125,NaN,Years,M,717167398,Negative,2020-10-23
493,COVC16751,REBECA NANDWA,NaN,48.0,Years,F,722554259,Positive,2020-10-29
492,COVC16750,ERICSHONE MUTURI,NaN,13.0,Years,M,722554259,Positive,2020-10-29
421,COVC16213,SANDRA WANJIKU MUNAGI,NaN,17.0,Years,F,722768403,Positive,2020-10-28
425,COVC16217,TABITHA BIYEKE MIRERI,NaN,17.0,Years,F,722768403,Positive,2020-10-28
426,COVC16218,WINSLET AKIMYI,NaN,17.0,Years,F,722768403,Positive,2020-10-28
219,COVC16011,BENARD OCHIMBO,23993447,35.0,Years,M,722845485,Negative,2020-10-28
204,COVC15996,RAJNIKAT PATEL,22604967,58.0,Years,M,722845485,Negative,2020-10-28
204,COVC18042,MOSES GAKURU KIMURI,NaN,10.0,Years,M,724425521,Negative,2020-11-04
219,COVC19826,DAN OTIENO,10433369,48.0,Years,M,728606982,Negative,2020-11-11
433,COVC16691,SAMUEL OTOYA,NaN,3.0,Years,M,792810809,Negative,2020-10-29

In [38]:
df_ids_id = df_raw_ids[(df_raw_ids
             .sort_values(['ID/PASSPORT_NUMBER'], ignore_index=True, key=lambda col: col.astype(str))
            .duplicated(['ID/PASSPORT_NUMBER'], keep=False)) == True]

<ipython-input-38-3ea3c9acfa5d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_ids_id = df_raw_ids[(df_raw_ids

In [39]:
ids = df_ids_id[df_ids_id['ID/PASSPORT_NUMBER'].isna() == False].sort_values('ID/PASSPORT_NUMBER', key=lambda col: col.astype(str))

In [40]:
ids['ID/PASSPORT_NUMBER']=ids['ID/PASSPORT_NUMBER'].astype(str).apply(lambda x: x.rstrip('.0'))

In [41]:
ids.head()

,SAMPLE_NUMBER,NAME,ID/PASSPORT_NUMBER,AGE,AGE_UNIT_(DAYS/MONTHS/YEARS),GENDER_(M/F),PHONE_NUMBER,RESULT,LAB_CONFIRMATION_DATE
1,COVC21279,LASOI KEEN,NA,11.0,Years,F,721318214,Negative,2020-11-18
149,COVC7920,John Matovu,00247198,61,Years,M,713174920,Negative,2020-08-15
149,COVC7920,John Matovu,00247198,61,Years,M,713174920,Negative,2020-08-15
359,COVC20804,ERIC GITAU,0094675,27.0,Years,M,705054112,Negative,2020-11-13
408,COVC20853,STEPHEN MUTISYA,0100741,85.0,Years,M,703272687,Positive,2020-11-13

In [42]:
ids2 = ids.sort_values('ID/PASSPORT_NUMBER').drop_duplicates('ID/PASSPORT_NUMBER', False)

In [43]:
ids2_list = list(ids2['ID/PASSPORT_NUMBER'])

In [44]:
df_ids_rep = ids[ids['ID/PASSPORT_NUMBER'].isin(ids2_list) == False].drop_duplicates(['SAMPLE_NUMBER'], False).sort_values('ID/PASSPORT_NUMBER')
df_ids_rep = df_ids_rep[df_ids_rep.duplicated('ID/PASSPORT_NUMBER', False) == True]

In [45]:
df_ids_rep1 = df_ids_rep.drop(df_ids_rep[df_ids_rep['ID/PASSPORT_NUMBER'].str.contains('ndicat')].index)

In [46]:
df_ids_rep2 = df_ids_rep1.drop(df_ids_rep1[df_ids_rep1['ID/PASSPORT_NUMBER'].str.contains('il')].index)
df_ids_rep2.sort_values(['ID/PASSPORT_NUMBER'])
print(df_ids_rep2.shape)
df_ids_rep2

(43, 9)

,SAMPLE_NUMBER,NAME,ID/PASSPORT_NUMBER,AGE,AGE_UNIT_(DAYS/MONTHS/YEARS),GENDER_(M/F),PHONE_NUMBER,RESULT,LAB_CONFIRMATION_DATE
346,COVC16604,ANTHONY AMDANY,1036746,50.0,Years,M,72286186,Negative,2020-10-29
307,COVC12255,KITHOME SENGA,10420164,50.0,Years,M,723737899,Negative,2020-10-06
446,COVC20335,KITHOME SENGA,10420164,50.0,Years,M,723737899,Negative,2020-11-12
311,COVC12259,NATHAN KALOTHI,11489431,49.0,Years,M,721709181,Negative,2020-10-06
298,COVC7673,ABDI WERI ALI,12345678,30.0,Years,M,720664534,Negative,2020-08-14
299,COVC7674,ESTHER NAKOM,12345678,17.0,Years,F,720664534,Positive,2020-08-14
301,COVC7676,ESTHER MARYANN AGNES,12345678,16.0,Years,F,720664534,Positive,2020-08-14
297,COVC7672,ADAN MOHAMMED ABAGANA,12345678,16.0,Years,M,720664534,Positive,2020-08-14
296,COVC7671,ISMAEL DIGALE HARESS,12345678,28.0,Years,M,720664534,Negative,2020-08-14
293,COVC7668,BASHMIR SALAD HAJI,12345678,47.0,Years,M,720664534,Negative,2020-08-14
290,COVC7665,MUHAMMED ALI OSMAN,12345678,53.0,Years,M,729664534,Negative,2020-08-14
321,COVC16113,LEAH WANJIKU WANGUI,14609767,19.0,Years,F,718201970,Positive,2020-10-28
322,COVC16114,ESTHER WANGUI,14609767,43.0,Years,F,718201970,Negative,2020-10-28
307,COVC18145,LEAH ICHAHE SHIAHALE,16074244,77.0,Years,F,720983695,Negative,2020-11-04
309,COVC18147,IRENE MALESI,16074244,9.0,Years,F,720983695,Negative,2020-11-04
317,COVC18155,KENNEDY INYANJE,16074244,58.0,Years,M,720983695,Negative,2020-11-04
340,COVC16598,SOPHIA WANJIKU RIACHI,2011598,42.0,Years,F,722588631,Positive,2020-10-29
339,COVC16597,SHARON NJERI GATHOGO,2011598,14.0,Years,F,722588631,Positive,2020-10-29
327,COVC18165,GEORGE WAWERU,2216847,40.0,Years,M,726922454,Positive,2020-11-04
330,COVC16588,LUCY NJUGUNA WANJIKU,22890089,38.0,Years,F,722628217,Positive,2020-10-29
332,COVC16590,TREVA NJUGUNA,22890089,6.0,Years,M,722628217,Negative,2020-10-29
331,COVC16589,TASHA WANGARI GITONGA,22890089,6.0,Years,F,722628217,Negative,2020-10-29
333,COVC16591,TREVIS MUCHINA,22890089,11.0,Years,M,722628217,Positive,2020-10-29
294,COVC16086,GEOFFERY NYAKUNDI,24688512,26.0,Years,M,711567596,Negative,2020-10-28
293,COVC16085,MARY MOMANYI,24688512,52.0,Years,F,711567596,Positive,2020-10-28
345,COVC16603,PETER VKARANJA,25447731,37.0,Years,M,nan,Positive,2020-10-29
289,COVC12749,Ayman awadh,2686249,31.0,Years,M,737373737,Negative,2020-10-08
306,COVC20751,STEPHEN OLOOOCHIENG MWANGI,27720926,32.0,Years,M,729050708,Negative,2020-11-13
354,COVC20243,FIDELIA NAITI,28104844,32.0,Years,F,792810809,Negative,2020-11-12
304,COVC16562,BONIFACE NJOROGE NDUATI,28764412,28.0,Years,M,727308807,Positive,2020-10-29
320,COVC18158,HUSSEIN GOLE DADACHA,31935323,28.0,Years,M,721770524,NaN,2020-11-04
305,COVC16097,EMMANUEL JUSTIN,32050558,2.0,Years,M,795774286,Negative,2020-10-28
304,COVC16096,MBOGO BRIAN,32050558,25.0,Years,M,795774286,Negative,2020-10-28
345,COVC16137,JUDITH CHEMTAI,32135482,26.0,Years,F,712842003,Positive,2020-10-28
344,COVC16136,ERICK OTIENO,32135482,24.0,Years,M,791367405,Negative,2020-10-28
307,COVC16099,CIDELLA WAIRIMU,33860626,24.0,Years,F,712730284,Negative,2020-10-28
308,COVC16100,SHIRLEEN WANGECI MWAKIMA,33860626,12.0,Months,F,712730284,Negative,2020-10-28
309,COVC16101,NANCY WAKESHO MWAKIMA,33860626,4.0,Years,F,712730284,Negative,2020-10-28
289,COVC16547,VERONICA WANGUI MWAURA,461435,57.0,Years,F,722257882,Positive,2020-10-29
291,COVC16549,VERONICA WANGUI MWAURA,461435,57.0,Years,F,722257882,Positive,2020-10-29
290,COVC12750,Ahmed Abdallah,7230774,44.0,Years,M,711880643,Negative,2020-10-08
285,COVC17109,TERESIAH WANJIKU,9568806,52.0,Years,F,722437619,Positive,2020-10-30
317,COVC16575,TRERESIA WANJIKU IRUNGU,9568806,52.0,Years,F,722437619,Positive,2020-10-29

### End of find repeat tests

In [47]:
df_raw = pd.DataFrame()
count = 0
for file in files:
    if file.endswith('.xlsx'):
        try:
            df_file = pd.read_excel(f'{data_dir}/{file}', header=1)
            df_data = get_trend_data(df_file, cols_of_interest)
            df_raw = df_raw.append(df_data)
            count += 1
        except: 
            if KeyError:
#                 raise
                print(f'KeyError: {file}')
            elif ValueError:
                print(f'ValueError: {file}')
        finally: pass
    pass
print(f'Files processed: {count}')
print(f'Files in the folder: {len(files)}')

/home/douso/.local/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

Files processed: 287
Files in the folder: 288

KeyError: COVID19_Reporting_06-10-2020.xlsx
KeyError: COVID19_Reporting_16-09-2020.xlsx
KeyError: COVID19_Reporting_17-09-2020.xlsx
KeyError: COVID19_Reporting_18-09-2020.xlsx
KeyError: COVID19_Reporting_19-09-2020.xlsx
KeyError: COVID19_Reporting_25-10-2020-A.xlsx
Files processed: 273
Files in the folder: 281

KeyError: COVID-19-Test_result_Reporting_06_10_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_16_09_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_17_09_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_18_09_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_19_09_2020.xlsx
KeyError: COVID-19-Test_result_Reporting_25_10_2020-B.xlsx
KeyError: COVID19_Reporting_06-10-2020.xlsx
KeyError: COVID19_Reporting_16-09-2020.xlsx
KeyError: COVID19_Reporting_17-09-2020.xlsx
KeyError: COVID19_Reporting_18-09-2020.xlsx
KeyError: COVID19_Reporting_19-09-2020.xlsx
KeyError: COVID19_Reporting_24-10-2020-A.xlsx
KeyError: COVID19_Reporting_25-10-2020-A.xlsx
KeyError: COVID19_Reporting_27-10-2020.xlsx
Files processed: 265
Files in the folder: 281

In [48]:
df_raw.head()

,SAMPLE_NUMBER,AGE,AGE_UNIT_(DAYS/MONTHS/YEARS),GENDER_(M/F),OCCUPATION,NATIONALITY,COUNTY_OF_RESIDENCE,SUB_COUNTY_OF_RESIDENCE,HAS_TRAVEL_HOSTORY(LAST_14_DAYS)_Y/N,TRAVEL_FROM,QUARANTINE_FACILITY/HOSPITAL/HOMESTEAD,SYMTOMS_SHOWN_(COUGH;FEVER;ETC),DATE_OF_SAMPLE_COLLECTION,DATE_SAMPLE_RECEIVED_IN_THE_LAB,RESULT,LAB_CONFIRMATION_DATE
0,COVC22771,58.0,Years,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,Years,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,Years,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,Years,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,Years,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [49]:
os.getenv('PWD')

'/home/douso'

### **Clean Headers**

In [50]:
cols_rename = ['S_NUM', 'AGE', 'AGE_UNIT', 'GEND', 'OCCU', 'NAT', 'COUNT_RES', 'S_COUNT_RES', 'TRAV_HIST', 
                    'TRAV_FROM', 'QUAR_PLACE', 'SYMPS', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'RESULT', 'DT_CONF']

In [51]:
# df_raw.columns = cols_rename

### **Clean Sample Numbers**

In [52]:
def cov_names(x):
    x = x.upper().replace(' ', '')
    if len(x) == 8:
        x = x.replace('COVC', 'COVC0')
    elif len(x) == 7:
        x = x.replace('COVC', 'COVC00')
    elif len(x) == 6:
        x = x.replace('COVC', 'COVC000')
    elif len(x) == 5:
        x = x.replace('COVC', 'COVC0000')
    return x

In [53]:
df_raw.head()

,SAMPLE_NUMBER,AGE,AGE_UNIT_(DAYS/MONTHS/YEARS),GENDER_(M/F),OCCUPATION,NATIONALITY,COUNTY_OF_RESIDENCE,SUB_COUNTY_OF_RESIDENCE,HAS_TRAVEL_HOSTORY(LAST_14_DAYS)_Y/N,TRAVEL_FROM,QUARANTINE_FACILITY/HOSPITAL/HOMESTEAD,SYMTOMS_SHOWN_(COUGH;FEVER;ETC),DATE_OF_SAMPLE_COLLECTION,DATE_SAMPLE_RECEIVED_IN_THE_LAB,RESULT,LAB_CONFIRMATION_DATE
0,COVC22771,58.0,Years,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,Years,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,Years,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,Years,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,Years,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [54]:
df_raw.to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged.xlsx', 
              index=False, header=cols_rename)

In [55]:
# df_raw.head()

In [56]:
# df_mrg_mtdata = pd.read_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged.xlsx')

In [57]:
## df_mrg_mtdata[df_mrg_mtdata['AGE_UNIT'] != 'Years'].AGE_UNIT.unique()

In [58]:
## df_mrg_mtdata[df_mrg_mtdata['AGE_UNIT'] == 'Months']#.AGE_UNIT.unique()

In [59]:
## df_mrg_mtdata[df_mrg_mtdata['AGE_UNIT'] == 'Days']#.AGE_UNIT.unique()

In [60]:
df_mrg_mtdata = pd.read_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged.xlsx')

### **Clean Sample Name**

In [61]:
df_name = df_mrg_mtdata.assign(S_NUM=df_mrg_mtdata['S_NUM'].apply(lambda x: cov_names(x)))

In [62]:
df_name[df_name['S_NUM'].str.len() < 8]

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9473,COVE20,39,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
9474,COVE21,50,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
17163,NIL,40,Years,M,Nil,Kenya,Laikipia,Laikipia East,No,NaN,NTRH,NaN,2020-06-18 00:00:00,NaN,Negative,2020-06-20 00:00:00

In [63]:
df_name[df_name['S_NUM'].str.contains('COVC') == False]

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9473,COVE20,39,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
9474,COVE21,50,Years,M,SECURITY GUARD,Kenya,Machakos,ATHI RIVER,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10 00:00:00,Negative,2020-09-11 00:00:00
17163,NIL,40,Years,M,Nil,Kenya,Laikipia,Laikipia East,No,NaN,NTRH,NaN,2020-06-18 00:00:00,NaN,Negative,2020-06-20 00:00:00
24664,NHRL-S001,42,Years,M,NaN,Kenya,Nairobi,NaN,No,NaN,NaN,NaN,18/4/2021,NaN,Positive,20/4/2021
24665,NHRL-S002,20,Years,F,NaN,Kenya,Kiambu,NaN,No,NaN,NaN,NaN,18/4/2021,NaN,Positive,20/4/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25616,KEM-21-03-94425,17,Years,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",04/03/2021,NaN,Positive,11/03/2021
25617,KEM-21-03-94736,16,Years,M,NaN,Kenya,Nairobi,Roysambu,No,NaN,NaN,NaN,12/03/2021,NaN,Positive,16/03/2021
25618,KEM-21-03-94766,22,Years,M,NaN,Kenya,Kiambu,Gatundu North,No,NaN,NaN,"Headache,cough",2021-10-03 00:00:00,NaN,Positive,15/03/2021
25619,KEM-21-03-95380,60,Years,F,NaN,Kenya,Kiambu,Kabete,No,NaN,NaN,NaN,18/03/2021,NaN,Positive,19/03/2021
25620,KEM-21-03-95237,0.8,Years,M,NaN,Kenya,Embu,Manyatta,No,NaN,NaN,NaN,16/03/2021,NaN,Positive,18/03/2021

### **Clean Age**

In [64]:
df_name[df_name['AGE_UNIT'] == 'Days']

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [65]:
df_months = df_name[df_name['AGE_UNIT'] == 'Months']

In [66]:
df_months.head()

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
569,COVC09555,11,Months,F,NaN,Kenya,Narok,RONGAI,No,NaN,NaN,NaN,2020-09-01 00:00:00,NaN,Negative,2020-09-02 00:00:00
1150,COVC02581,1,Months,M,Inmate,Uganda,Kiambu,Thika,N,NIL,Prison,NIL,2020-07-01 00:00:00,NaN,Negative,2020-07-03 00:00:00
1578,COVC17631,10,Months,F,NaN,Kenya,Kiambu,KIKUYU,No,NaN,NaN,NaN,2020-10-27 00:00:00,2020-10-03 00:00:00,Negative,2020-11-03 00:00:00
2429,COVC18026,6,Months,M,NaN,Kenya,Kiambu,THIKA,No,NaN,NaN,CO,2020-11-03 00:00:00,2020-11-04 00:00:00,Positive,2020-11-04 00:00:00
2586,COVC18183,19,Months,M,Child,Kenya,Kiambu,LIMURU,No,NaN,NaN,NaN,2020-11-03 00:00:00,2020-11-04 00:00:00,Negative,2020-11-04 00:00:00

In [67]:
df_mn2yrs = df_months.assign(AGE=df_months['AGE'].map(lambda x: round(x / 12, 1))).replace('Months', 'Years')

In [68]:
df_mn2yrs.head()

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
569,COVC09555,0.9,Years,F,NaN,Kenya,Narok,RONGAI,No,NaN,NaN,NaN,2020-09-01 00:00:00,NaN,Negative,2020-09-02
1150,COVC02581,0.1,Years,M,Inmate,Uganda,Kiambu,Thika,N,NIL,Prison,NIL,2020-07-01 00:00:00,NaN,Negative,2020-07-03
1578,COVC17631,0.8,Years,F,NaN,Kenya,Kiambu,KIKUYU,No,NaN,NaN,NaN,2020-10-27 00:00:00,2020-10-03 00:00:00,Negative,2020-11-03
2429,COVC18026,0.5,Years,M,NaN,Kenya,Kiambu,THIKA,No,NaN,NaN,CO,2020-11-03 00:00:00,2020-11-04 00:00:00,Positive,2020-11-04
2586,COVC18183,1.6,Years,M,Child,Kenya,Kiambu,LIMURU,No,NaN,NaN,NaN,2020-11-03 00:00:00,2020-11-04 00:00:00,Negative,2020-11-04

In [69]:
df_name[df_name['AGE_UNIT'] == 'Days']#.AGE_UNIT.unique()

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [70]:
df_not_months = df_name[df_name['AGE_UNIT'] != 'Months']

In [71]:
df_not_months.shape

(25546, 16)

In [72]:
df_mn2yrs.shape

(75, 16)

In [73]:
df_years = df_not_months.append(df_mn2yrs)

In [74]:
df_years.shape

(25621, 16)

In [75]:
df_years['AGE_UNIT'].unique()

array(['Years', nan, 'years', 'Nil'], dtype=object)

In [76]:
df_years[df_years['AGE_UNIT'] == 'NO PATIENT DATASHEET']

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [77]:
df_years[df_years['AGE_UNIT'].str.contains('M', 'F') == True]

Empty DataFrame
Columns: [S_NUM, AGE, AGE_UNIT, GEND, OCCU, NAT, COUNT_RES, S_COUNT_RES, TRAV_HIST, TRAV_FROM, QUAR_PLACE, SYMPS, DT_SAM_COLL, DT_SAM_RECEP, RESULT, DT_CONF]
Index: []

In [78]:
df_years[df_years['AGE_UNIT'] == 'Nil']

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
14788,COVC04083,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14789,COVC04084,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14790,COVC04085,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Positive,2020-07-17 00:00:00
14791,COVC04086,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14792,COVC04087,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14793,COVC04088,Nil,Nil,F,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14794,COVC04089,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14795,COVC04090,Nil,Nil,F,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14796,COVC04091,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14797,COVC04092,Nil,Nil,F,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
14798,COVC04093,Nil,Nil,M,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,Nil,NaN,Negative,2020-07-17 00:00:00
16308,COVC01628,Nil,Nil,Nil,Nil,Nil,Nyeri,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df_years_drop_age_unit = df_years.drop('AGE_UNIT', axis=1)

In [80]:
df_years_rencol = df_years_drop_age_unit.rename(columns={'AGE': 'AGE_YRS'})

In [81]:
df_years_rencol.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [82]:
df_years_rencol['AGE_YRS'].unique()

array([58, 63, 53, 52, 41, 9, 6, 39, 23, 36, 33, 42, 34, 32, 57, 56, 27,
       20, nan, 44, 26, 31, 35, 28, 37, 54, 29, 43, 24, 38, 47, 49, 40,
       51, 50, 25, 30, 45, 46, 22, 21, 48, 55, 65, 64, 60, 18, 16, 10, 17,
       15, 8, 13, 5, 12, 84, 59, 62, 68, 312, 61, 19, 2, 86, 80, 69, 72,
       3, 4, 7, 74, 11, 67, 87, 3.6, 1, 14, 1.5, 70, 2.42,
       'None indicated', 73, 6.5, 2.5, 75, 97, 'Nil', 71, 89, 96, 82, 77,
       66, 'Not indicated', 743, 78, 76, 'None', 9.5, 'nil', 79, 81, 98,
       'none indicated', 90, 85, 91, 100, 101, 83, 92, 'not_indicated',
       5.5, 'Not Indicated', '37', '36', '40', '38', '29', 94, 105, 0.5,
       'not Indicated', '30', '44', '33', '27', '26', '51', '28',
       'None Indicated', 542, 0.8, 0.9, 0.1, 1.6, 1.1, 2.9, 3.7, 1.7, 0.2,
       0.3, 2.8, 0.7, 1.2, 2.1, 0.4, 4.5, 1.8, 0.6], dtype=object)

In [83]:
[x for x in df_years_rencol['AGE_YRS'].unique() if isinstance(x, str)]

['None indicated',
 'Nil',
 'Not indicated',
 'None',
 'nil',
 'none indicated',
 'not_indicated',
 'Not Indicated',
 '37',
 '36',
 '40',
 '38',
 '29',
 'not Indicated',
 '30',
 '44',
 '33',
 '27',
 '26',
 '51',
 '28',
 'None Indicated']

In [84]:
to_rep = ['None indicated',
 'Nil',
 'Not indicated',
 'None',
 'nil',
 'none indicated',
 'not_indicated',
 'Not Indicated',
 'not Indicated',
 'None Indicated',
 'NO PATIENT DATASHEET'
]

In [85]:
df_years_repnan2float = df_years_rencol.assign(AGE_YRS=df_years_rencol['AGE_YRS'].replace(to_rep, np.nan).astype(float))

In [86]:
df_years_repnan2float

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23605,COVC16833,0.8,M,NaN,Kenya,Nairobi,DONHOLM,No,NaN,NaN,NaN,2020-10-29 00:00:00,2020-10-29 00:00:00,Negative,2020-10-30 00:00:00
23861,COVC17089,0.6,M,NaN,Kenya,Mombasa,LIKONI,No,NaN,NaN,CO,2020-10-22 00:00:00,2020-10-27 00:00:00,Negative,2020-10-30 00:00:00
24822,COVC23794,0.2,M,NaN,Kenya,Kiambu,GITHUNGURI,No,NaN,NaN,H,2021-05-02 00:00:00,2021-05-05 00:00:00,Negative,2021-05-06 00:00:00
24943,COVC23131,2.5,F,NaN,Kenya,Mombasa,MVITA,No,NaN,NaN,NaN,2021-02-08 00:00:00,2021-02-11 00:00:00,Negative,2021-02-11 00:00:00
25313,COVC23661,0.1,F,NaN,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,NaN,2021-03-22 00:00:00,Positive,2021-03-22 00:00:00

### **Clean Gender**

In [87]:
df_years_repnan2float['GEND'].unique()

array(['M', 'F', 'f', 'Female', 'Male', 'F`', 'MALE ', 'MALE', nan, 'Nil',
       'T'], dtype=object)

In [88]:
df_years_repnan2float[df_years_repnan2float['GEND'].isna()].sort_values('S_NUM')

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9854,COVC00749,42.0,NaN,Nil,Kenyan,Laikipia,Laikipia East,N,NaN,Nanyuki Teaching and Referral Hospital,Asymtomatic,9th June 2020,"June 11, 2020",Neg,2020-06-12 00:00:00
12822,COVC01037,30.0,NaN,Nil,Kenyan,Nairobi,Embaksi,N,NaN,Nil,Asymtomatic,Nil,2020-06-15 00:00:00,Neg,2020-06-15 00:00:00
18236,COVC04494,NaN,NaN,NaN,Kenya,Nyeri,NaN,No,NaN,NaN,NaN,2020-07-14 00:00:00,NaN,Negative,2020-07-23 00:00:00
18237,COVC04495,NaN,NaN,NaN,Kenya,Nyeri,NaN,No,NaN,NaN,NaN,2020-07-14 00:00:00,NaN,Negative,2020-07-23 00:00:00
18238,COVC04496,NaN,NaN,NaN,Kenya,Nyeri,NaN,No,NaN,NaN,NaN,2020-07-14 00:00:00,NaN,Negative,2020-07-23 00:00:00
24155,COVC05236,NaN,NaN,NaN,NaN,Nyeri,NaN,NaN,NaN,NaN,NaN,2020-07-28 00:00:00,NaN,Negative,2020-07-31 00:00:00
24002,COVC05255,NaN,NaN,NaN,NaN,NaN,not_indicated,No,NaN,NaN,NaN,NaN,NaN,Negative,2020-07-31 00:00:00
12761,COVC13844,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12762,COVC13845,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12763,COVC13846,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12764,COVC13847,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12765,COVC13848,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12766,COVC13849,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12767,COVC13850,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12768,COVC13851,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12769,COVC13852,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12770,COVC13853,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
12771,COVC13854,NaN,NaN,NaN,NaN,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-13 00:00:00,2020-10-13 00:00:00,Negative,2020-10-14 00:00:00
22670,COVC16256,NaN,NaN,NaN,Kenya,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-28 00:00:00,2020-10-28 00:00:00,Negative,2020-10-28 00:00:00
22671,COVC16257,NaN,NaN,NaN,Kenya,Nairobi,NaN,No,NaN,NaN,NaN,2020-10-28 00:00:00,2020-10-28 00:00:00,Negative,2020-10-28 00:00:00
25563,KEM-012-IMC-004-12773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25564,KEM-012-IMC-557-12780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25560,KEM-012-IMH-533-12756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25561,KEM-012-IMN-538-12761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25562,KEM-012-IMN-539-12762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df_years_repnan2float[df_years_repnan2float['GEND'] == 'Nil']

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
11182,COVC00749,42.0,Nil,Nil,Kenyan,Laikipia,Laikipia East,N,NaN,Nanyuki Teaching and Referral Hospital,Asymtomatic,9th June 2020,"June 11, 2020",Neg,2020-06-12 00:00:00
16308,COVC01628,NaN,Nil,Nil,Nil,Nyeri,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN

COVEs:
- COVC13844
- COVC13845
- COVC13846
- COVC13847
- COVC13848
- COVC13849
- COVC13850
- COVC13851
- COVC13852
- COVC13853
- COVC16256
- COVC16257

In [90]:
df_years_repgender = df_years_repnan2float.assign(GEND=df_years_repnan2float['GEND'].replace(['f', 'Female', 'F`', 'T'], 'F')
                                                 .replace(['Male', 'MALE ', 'MALE'], 'M'))

In [91]:
df_years_repgender['GEND'].unique()

array(['M', 'F', nan, 'Nil'], dtype=object)

In [92]:
df_years_repgender['GEND'].replace('Nil', np.nan, inplace=True)

In [93]:
df_years_repgender['GEND'].unique()

array(['M', 'F', nan], dtype=object)

### **Clean Occupation**

In [94]:
df_years_repgender['OCCU'].unique()

array(['HCW', 'CEC', 'Psychologist', ..., 'Logistician', 'Hotel',
       'Child accompanying inmate mothe'], dtype=object)

In [95]:
df_years_repgender['OCCU'] = df_years_repgender['OCCU'].replace(['Nil','nil'], np.nan)

occu_dict = {'intial': 'ouso'}
for o in df_years_repgender['OCCU'].str.lower():
    print(o)
    if o not in occu_dict:
        for k in occu_dict.keys():
            if len(set(k.split()) & set(str(o).split()))/len(str(o)) >= 0.5:
                occu_dict[k].append(o)
            occu_dict[o] = []
    else: pass

for k in occu_dict.keys():
    print(k)

### **Clean Nationality**

In [96]:
df_years_repgender['NAT'].unique()

array(['Kenya', 'Ethiopia', 'Somalia', 'Uganda', 'South Africa', 'India',
       'United States of America (USA)', 'Germany', 'Sudan',
       'South Sudan', nan, 'Lebanon', 'Sweden', 'Benin',
       'United Kingdom (UK)', 'Netherlands', 'Cuba', 'Kenyan', 'Indian',
       'Ghana', 'Zimbabwe', 'Rwanda', 'Mauritania', 'Denmark', 'Pakistan',
       'Tanzania', 'Canada', 'Congo, Democratic Republic of the',
       'Burundi', 'Italy', 'Australia', 'Colombia', 'Hungary', 'Djibouti',
       'Finland', 'Senegal', 'kenya', 'Yemen', 'Turkey', 'Philippines',
       'Nigeria', 'Japan', 'Ireland', 'Tunisia', 'Burkina Faso', 'Brazil',
       'Portugal', 'Cameroon', 'Bangladesh', 'Madagascar',
       "Cote d'Ivoire", 'Egypt', 'China', 'KENYAN', 'Greece', 'Bulgaria',
       'Nil', 'Switzerland', 'Mali', 'Eritrea', 'Austria', 'Malawi',
       'France', 'Namibia', 'Congo, Republic of the', 'Zambia',
       'Sri Lanka', 'United States', 'Jordan'], dtype=object)

In [97]:
df_years_repnat = df_years_repgender.assign(NAT=df_years_repgender['NAT'].replace('Nil', np.nan)
                                            .replace(['United States', 'Indian'
                                                      , 'Congo, Democratic Republic of the'
                                                     , 'Congo, Republic of the'] 
                                                     , ['United States of America (USA)','India'
                                                        , 'Democratic Republic of the Congo',
                                                       'Republic of the Congo'])
                                            .map(lambda x: str(x).replace(x, 'Kenya') if ('enya' in str(x).lower()) else x))

In [98]:
df_years_repnat['NAT'].unique()

array(['Kenya', 'Ethiopia', 'Somalia', 'Uganda', 'South Africa', 'India',
       'United States of America (USA)', 'Germany', 'Sudan',
       'South Sudan', nan, 'Lebanon', 'Sweden', 'Benin',
       'United Kingdom (UK)', 'Netherlands', 'Cuba', 'Ghana', 'Zimbabwe',
       'Rwanda', 'Mauritania', 'Denmark', 'Pakistan', 'Tanzania',
       'Canada', 'Democratic Republic of the Congo', 'Burundi', 'Italy',
       'Australia', 'Colombia', 'Hungary', 'Djibouti', 'Finland',
       'Senegal', 'Yemen', 'Turkey', 'Philippines', 'Nigeria', 'Japan',
       'Ireland', 'Tunisia', 'Burkina Faso', 'Brazil', 'Portugal',
       'Cameroon', 'Bangladesh', 'Madagascar', "Cote d'Ivoire", 'Egypt',
       'China', 'Greece', 'Bulgaria', 'Switzerland', 'Mali', 'Eritrea',
       'Austria', 'Malawi', 'France', 'Namibia', 'Republic of the Congo',
       'Zambia', 'Sri Lanka', 'Jordan'], dtype=object)

### **Clean County of Res**

In [99]:
df_years_repnat.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,LAVINGTON,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,THIKA,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,THIKA,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,THIKA,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,GATUNDU NORTH,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [100]:
len(df_years_repnat['S_COUNT_RES'].str.lower().unique())

896

In [101]:
len((df_years_repnat['S_COUNT_RES']
     .replace(['Nil', 'nan', '', 'Nan', 'Muranga ', 'Murang`a ']
                            , [np.nan, np.nan, np.nan, np.nan, "Murang'a", "Murang'a"])
                   .apply(lambda x: str(x).strip().capitalize())
     .unique()))

818

In [102]:
s_counties = (df_years_repnat['S_COUNT_RES']
     .replace(['Nil', 'nan', '', 'Nan', 'Muranga ', 'Murang`a ']
                            , [np.nan, np.nan, np.nan, np.nan, "Murang'a", "Murang'a"])
                   .apply(lambda x: str(x).replace(str(x), str(np.nan)) if ('indicate' in str(x)) else str(x).strip().capitalize())
              .replace('nan', np.nan))

In [103]:
# sorted([s for s in s_counties.unique()])

In [104]:
counties = (df_years_repnat['COUNT_RES']
                   .replace(['Nil', 'nan', '', 'Nan', 'Muranga ', 'Murang`a ']
                            , [np.nan, np.nan, np.nan, np.nan, "Murang'a", "Murang'a"])
                   .apply(lambda x: str(x).strip().capitalize() if (isinstance(x, str)) else x))

In [105]:
counties.unique()

array(['Nairobi', 'Kiambu', 'Kajiado', 'Machakos', 'Laikipia', 'Marsabit',
       'Makueni', "Murang'a", 'Isiolo', 'Garissa', 'Nakuru', 'Samburu',
       'Mombasa', nan, 'Nyeri', 'Kisii', 'Tana river', 'Kitui', 'Wajir',
       'Nyandarua', 'Kirinyaga', 'Meru', 'Uasin gishu', 'Siaya',
       'Bungoma', 'Kakamega', 'Nandi', 'Kilifi', 'Kwale', 'Homabay',
       'Muranga', 'Uganda', 'Mandera', 'Kampala', 'Niarobi', 'Kisumu',
       'Badiere', 'Embu', 'Busia', 'Kigali', 'Mukono/uganda', 'Congo',
       'Nil', 'Vihiga', 'Narok', 'Kericho', 'Trans nzoia',
       'Elgeyo marakwet', 'Kajido', 'Taita taveta', 'Migori', 'Bomet',
       'Nyamira'], dtype=object)

In [106]:
df_years_county = (df_years_repnat.assign(COUNT_RES=counties)).assign(S_COUNT_RES=s_counties)

In [107]:
df_years_county['COUNT_RES'].unique()

array(['Nairobi', 'Kiambu', 'Kajiado', 'Machakos', 'Laikipia', 'Marsabit',
       'Makueni', "Murang'a", 'Isiolo', 'Garissa', 'Nakuru', 'Samburu',
       'Mombasa', nan, 'Nyeri', 'Kisii', 'Tana river', 'Kitui', 'Wajir',
       'Nyandarua', 'Kirinyaga', 'Meru', 'Uasin gishu', 'Siaya',
       'Bungoma', 'Kakamega', 'Nandi', 'Kilifi', 'Kwale', 'Homabay',
       'Muranga', 'Uganda', 'Mandera', 'Kampala', 'Niarobi', 'Kisumu',
       'Badiere', 'Embu', 'Busia', 'Kigali', 'Mukono/uganda', 'Congo',
       'Nil', 'Vihiga', 'Narok', 'Kericho', 'Trans nzoia',
       'Elgeyo marakwet', 'Kajido', 'Taita taveta', 'Migori', 'Bomet',
       'Nyamira'], dtype=object)

### **Clean Subcounty of Res

In [108]:
df_years_scounty = df_years_county.assign(S_COUNT_RES=s_counties)

### **Clean Travel History**

In [109]:
df_years_scounty.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,Thika,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,Thika,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,Gatundu north,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

In [110]:
df_years_scounty['TRAV_HIST'].unique()

array(['No', nan, 'Yes', 'N', 'JH', 'no', 'NO ', 'Nil', 'YES', 'NONE ',
       'NONE', 'Y', 'y', 'yes'], dtype=object)

In [111]:
df_travl = df_years_scounty.assign(TRAV_HIST=df_years_scounty['TRAV_HIST'].replace([np.nan, 'N', 'no', 'NO', 'Nil', 'NONE ', 'NONE'], 'No')
           .replace(['YES', 'Y', 'y', 'yes'], 'Yes'))

In [112]:
df_travl['TRAV_FROM'].unique()

array([nan, 'ELDORET', 'NAIVASHA', 'NAIROBI;NYERI;NANYUKI', 'NIL',
       'Ruaka', 'Ngoingwa', 'Limuru', 'Thika', 'Embakasi', 'Uganda',
       'Dubai', 'Nil', 'Not indicated on form ', 'TORORO UGANDA',
       'UGANDA', 'AWASI', 'KIGALI', 'ENTEBE', 'NAIROBI', 'JINJA',
       'KISUMU', 'KAMPALA', 'KASESE', 'KILIFI COUNTY', 'KWALE COUNTY',
       'NYAHURURU; NANYUKI', 'TORORO', 'KAMPALA UGANDA', 'RWANDA',
       'JINJA UGANDA', 'KAJIADO', 'TANZANIA', 'NOT APPLICABLE ',
       'SOUTH SUDAN ', 'NYERI', 'KWALE;KILIFI', 'KAKAMEGA', 'KWALE',
       'Mombasa', 'Nairobi', 'Eldoret', 'Malindi', 'Uasin Gishu', 'N',
       'Machakos', 'No', 'KILIFI/NAIROBI', 'NANYUKI SAGANA',
       'THARAKA NITHI', 'SHIMBA HILLS', 'KILIFI', 'MACHAKOS',
       'Netherlands', 'TAVETA', 'Mombasa (Stayed in Mtwapa for 4 days)',
       'KINANGO MSAMBWENI', 'MERU', 'THIKA', 'MUHONIA', 'KASESE UGANDA',
       'KIRINYAGA', 'KIAMBU', 'DAR ES SAALAM', 'TAITA TAVETA', 'Tanzania',
       'not_indicated', 'ETHIOPIA', 'Nyeri town', 'MALABA', 'NAKURU',
       'Narok', 'Within Kenya', 'Tharakanithi', 'Nyahururu',
       'Nairobi and Kisumu', 'Meru', 'Nairobi, Nyahururu', 'Nakuru, Meru',
       'Busia', 'Bungoma', 'Nanyuki', 'Not applicable', 'Not indicated',
       'Kisii', 'Kiambu', 'EMALI - MAKUENI', 'MAZERAS - KILIFI', 'Ngong',
       'Tarbo', 'Embu town', 'Kakamega', 'Nairobi and Busia'],
      dtype=object)

In [113]:
df_travl2 = (df_travl.assign(TRAV_FROM=df_travl['TRAV_FROM'].replace(['nan','NIL', 'Nil', 'Not indicated on form '
                  , 'NOT APPLICABLE ', 'N', 'N', 'No', 'not_indicated', 'Not applicable', 'Not indicated'],np.nan)
                    .replace(['Mombasa (stayed in mtwapa for 4 days)', 'KINANGO MSAMBWENI', 'Nan'
                              , 'Mombasa (Stayed in Mtwapa for 4 days)'], 
                    ['Mtwapa', 'Kinangop;Msambweni', np.nan, 'Mtwapa'])
                    .apply(lambda x: str(x).replace('/', ';')
                    .replace(' and ', ';')
                    .replace('-', ';')
                    .replace(',', ';')
                    .replace(' ; ', ';')
                    .replace('; ', ';')
                    .strip().capitalize() if (isinstance(x, str)) else x)))

In [114]:
df_travl2['TRAV_FROM'].unique()

array([nan, 'Eldoret', 'Naivasha', 'Nairobi;nyeri;nanyuki', 'Ruaka',
       'Ngoingwa', 'Limuru', 'Thika', 'Embakasi', 'Uganda', 'Dubai',
       'Tororo uganda', 'Awasi', 'Kigali', 'Entebe', 'Nairobi', 'Jinja',
       'Kisumu', 'Kampala', 'Kasese', 'Kilifi county', 'Kwale county',
       'Nyahururu;nanyuki', 'Tororo', 'Kampala uganda', 'Rwanda',
       'Jinja uganda', 'Kajiado', 'Tanzania', 'South sudan', 'Nyeri',
       'Kwale;kilifi', 'Kakamega', 'Kwale', 'Mombasa', 'Malindi',
       'Uasin gishu', 'Machakos', 'Kilifi;nairobi', 'Nanyuki sagana',
       'Tharaka nithi', 'Shimba hills', 'Kilifi', 'Netherlands', 'Taveta',
       'Mtwapa', 'Kinangop;msambweni', 'Meru', 'Muhonia', 'Kasese uganda',
       'Kirinyaga', 'Kiambu', 'Dar es saalam', 'Taita taveta', 'Ethiopia',
       'Nyeri town', 'Malaba', 'Nakuru', 'Narok', 'Within kenya',
       'Tharakanithi', 'Nyahururu', 'Nairobi;kisumu', 'Nairobi;nyahururu',
       'Nakuru;meru', 'Busia', 'Bungoma', 'Nanyuki', 'Kisii',
       'Emali;makueni', 'Mazeras;kilifi', 'Ngong', 'Tarbo', 'Embu town',
       'Nairobi;busia'], dtype=object)

In [115]:
df_travl2.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,Thika,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,Thika,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01 00:00:00,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,Gatundu north,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01 00:00:00,Positive,2021-01-01 00:00:00

### **Clean Symptoms**

- GW: General weakness
- FC: Fever/Chills
- CO: Cough
- ST: Sore throat
- RN: Runny nose
- SB: Shortness of breath/Difficulty in breathing
- D: Diarrhoea
- NV: Nausea/Vomiting
- H: Headache
- IC: Irritability/Confusion
- P: Pain
- LS: Loss of smell
- LT: Loss of taste
- P-M: Muscular pain
- P-A: Abdominal pain
- P-C: Chest pain
- P-J: Joint pain

In [116]:
df_travl2['SYMPS'] = (df_travl2['SYMPS'].apply(lambda x: str(x).replace(str(x), str(np.nan)) if ('symtom' in str(x)) else str(x).replace('F/C', 'FC'))
                      .replace(['[=]','nan'], np.nan))

### **Clean Dates**

In [1]:
def my_date_parser(x):
    try:
        if type(x) == pd.Timestamp:
            x = x#.strftime('%d-%m-%Y')
        if type(x) != pd.Timestamp and type(x) != (int, float, pd.NaT):
            x = pd.to_datetime(x, errors='ignore', dayfirst=True)#.strftime('%d-%m-%Y')
        if x in ['None indicated', 'NIL', 'Not indicated on form ',
                    'Nil', 'None indicated', 'Leaked Sample - Empty', 'nan']:
            x = pd.NaT
    except (ValueError, AttributeError):
        x = pd.NaT
    return x

In [163]:
df_dt1 = df_travl2.assign(DT_SAM_COLL=df_travl2['DT_SAM_COLL'].apply(lambda x: my_date_parser(x)))

In [164]:
df_dt2 = df_dt1.assign(DT_SAM_RECEP=df_dt1['DT_SAM_RECEP'].apply(lambda x: my_date_parser(x)))

In [165]:
df_dts_cln = df_dt2.assign(DT_CONF=df_dt2['DT_CONF'].apply(lambda x: my_date_parser(x)))

In [166]:
df_dts_cln.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01,Negative,2021-01-01 00:00:00
2,COVC22773,53.0,F,Psychologist,Kenya,Kiambu,Thika,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01,Negative,2021-01-01 00:00:00
3,COVC22774,52.0,F,Business,Kenya,Kiambu,Thika,No,NaN,NaN,CO;DIB,2021-01-02 00:00:00,2021-01-01,Negative,2021-01-01 00:00:00
4,COVC22775,41.0,F,HCW,Kenya,Kiambu,Gatundu north,No,NaN,NaN,CO;DIB,2021-01-03 00:00:00,2021-01-01,Positive,2021-01-01 00:00:00

### **Clean Results**

In [167]:
df_dts_cln['RESULT'].unique()

array(['Negative', 'Positive', nan, 'neg', 'pos', 'negative', 'positive',
       'Neg', 'Pos', 'Inconclusive', 'MS', 'Positve', 'Positive '],
      dtype=object)

In [168]:
df_dts_cln['RESULT'].map(lambda x: x.strip().lower() if (isinstance(x, str)) else x).unique()

array(['negative', 'positive', nan, 'neg', 'pos', 'inconclusive', 'ms',
       'positve'], dtype=object)

In [169]:
def cln_results(x):
    if isinstance(x, str):
        x = x.strip().lower()
        if 'neg' in x:
            x = x.replace(x, 'Negative')
        elif 'pos' in x:
            x = x.replace(x, 'Positive')
        elif x == 'inconclusive':
            x = x.replace(x, 'Inconclusive')
    return x

In [170]:
df_dts_cln['RESULT'] = df_dts_cln['RESULT'].map(lambda x: cln_results(x))

In [171]:
df_dts_cln['RESULT'].unique()

array(['Negative', 'Positive', nan, 'Inconclusive', 'ms'], dtype=object)

In [172]:
df_dts_cln.head(2)

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
0,COVC22771,58.0,M,HCW,Kenya,Nairobi,Lavington,No,NaN,NaN,NaN,2021-01-01 00:00:00,2021-01-01,Negative,2021-01-01 00:00:00
1,COVC22772,63.0,M,CEC,Kenya,Kiambu,Thika,No,NaN,NaN,FLU,2020-12-31 00:00:00,2021-01-01,Negative,2021-01-01 00:00:00

### **Remove Duplicates**

In [173]:
df_cln_srt = df_dts_cln.sort_values(['S_NUM', 'DT_CONF'])

In [174]:
df_cln_srt[df_cln_srt.duplicated(['S_NUM', 'DT_CONF'], keep=False) == True]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9813,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
11141,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
9814,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
11142,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
9815,COVC00710,45.0,M,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25403,COVC23805,NaN,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-05-25 00:00:00,2021-05-25,Negative,2021-05-25 00:00:00
19775,COVC23806,NaN,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-05-25 00:00:00,2021-05-25,Negative,2021-05-25 00:00:00
25404,COVC23806,NaN,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-05-25 00:00:00,2021-05-25,Negative,2021-05-25 00:00:00
25490,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",2021-03-04 00:00:00,NaT,Positive,2021-03-11 00:00:00
25616,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",2021-03-04 00:00:00,NaT,Positive,2021-03-11 00:00:00

In [175]:
df_cln_srt[df_cln_srt.duplicated(keep=False) == True]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9813,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
11141,COVC00708,35.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
9814,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
11142,COVC00709,32.0,F,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
9815,COVC00710,45.0,M,NaN,Kenya,Laikipia,Laikipia east,No,NaN,Nanyuki Teaching and Referral Hospital,NaN,2020-06-09 00:00:00,2020-06-11,Negative,2020-06-12 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25403,COVC23805,NaN,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-05-25 00:00:00,2021-05-25,Negative,2021-05-25 00:00:00
19775,COVC23806,NaN,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-05-25 00:00:00,2021-05-25,Negative,2021-05-25 00:00:00
25404,COVC23806,NaN,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-05-25 00:00:00,2021-05-25,Negative,2021-05-25 00:00:00
25490,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",2021-03-04 00:00:00,NaT,Positive,2021-03-11 00:00:00
25616,KEM-21-03-94425,17.0,M,NaN,Kenya,Kiambu,Thika,No,NaN,NaN,"Cough, Runny nose",2021-03-04 00:00:00,NaT,Positive,2021-03-11 00:00:00

In [176]:
df_dedud = df_cln_srt.drop_duplicates(['S_NUM', 'DT_CONF'], keep='first')

In [177]:
df_dedud.shape

(24209, 15)

### **Export Cleaned Data**

In [178]:
df_dedud.to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged-cln.xlsx', index=False)

In [179]:
df_dedud[df_dedud['RESULT'] == 'Positive'].to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged-cln-pos.xlsx', index=False)

In [180]:
df_dedud[df_dedud['S_NUM'].str.contains('COVC') == False]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9473,COVE20,39.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10,Negative,2020-09-11 00:00:00
9474,COVE21,50.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10,Negative,2020-09-11 00:00:00
25563,KEM-012-IMC-004-12773,NaN,NaN,NaN,NaN,NaN,Nan,No,NaN,NaN,NaN,NaT,NaT,NaN,NaT
25564,KEM-012-IMC-557-12780,NaN,NaN,NaN,NaN,NaN,Nan,No,NaN,NaN,NaN,NaT,NaT,NaN,NaT
25560,KEM-012-IMH-533-12756,NaN,NaN,NaN,NaN,NaN,Nan,No,NaN,NaN,NaN,NaT,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24697,NHRL-S034,45.0,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-04-23 00:00:00,NaT,Positive,2021-04-25 00:00:00
24698,NHRL-S035,30.0,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-04-23 00:00:00,NaT,Positive,2021-04-25 00:00:00
24699,NHRL-S036,30.0,M,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-04-23 00:00:00,NaT,Positive,2021-04-25 00:00:00
24700,NHRL-S037,19.0,M,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-04-23 00:00:00,NaT,Positive,2021-04-25 00:00:00
17163,NIL,40.0,M,NaN,Kenya,Laikipia,Laikipia east,No,NaN,NTRH,NaN,2020-06-18 00:00:00,NaT,Negative,2020-06-20 00:00:00

In [181]:
df_dedud[df_dedud['S_NUM'].str.contains('COVC') == False]

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF
9473,COVE20,39.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10,Negative,2020-09-11 00:00:00
9474,COVE21,50.0,M,SECURITY GUARD,Kenya,Machakos,Athi river,No,NaN,NaN,NaN,2020-09-10 00:00:00,2020-09-10,Negative,2020-09-11 00:00:00
25563,KEM-012-IMC-004-12773,NaN,NaN,NaN,NaN,NaN,Nan,No,NaN,NaN,NaN,NaT,NaT,NaN,NaT
25564,KEM-012-IMC-557-12780,NaN,NaN,NaN,NaN,NaN,Nan,No,NaN,NaN,NaN,NaT,NaT,NaN,NaT
25560,KEM-012-IMH-533-12756,NaN,NaN,NaN,NaN,NaN,Nan,No,NaN,NaN,NaN,NaT,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24697,NHRL-S034,45.0,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-04-23 00:00:00,NaT,Positive,2021-04-25 00:00:00
24698,NHRL-S035,30.0,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-04-23 00:00:00,NaT,Positive,2021-04-25 00:00:00
24699,NHRL-S036,30.0,M,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-04-23 00:00:00,NaT,Positive,2021-04-25 00:00:00
24700,NHRL-S037,19.0,M,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-04-23 00:00:00,NaT,Positive,2021-04-25 00:00:00
17163,NIL,40.0,M,NaN,Kenya,Laikipia,Laikipia east,No,NaN,NTRH,NaN,2020-06-18 00:00:00,NaT,Negative,2020-06-20 00:00:00

11-09-2020

COVC9774
COVC9775
COVE20
COVE21
COVC9776
COVC9777

### **ID Misssing Data**

In [182]:
start = 0
df_missing = pd.DataFrame(columns=cols_rename)
for num in df_dedud['S_NUM'].sort_values():
#     curr_row = df_dts_cln[df_dts_cln['S_NUM']]
    try:
        curr = int(num.lstrip('COVC').lstrip('0'))
        
        if curr - start > 1:
            start_id = f'COVC{start}'
            cov_id = f'COVC{curr}'
            df_missing = df_missing.append(df_dts_cln[df_dts_cln['S_NUM'] == cov_names(start_id)])
            df_missing = df_missing.append(df_dts_cln[df_dts_cln['S_NUM'] == cov_names(cov_id)])
        start = curr
    except ValueError:
#         print(f'ValueError: {num}')
        pass

In [183]:
df_missing.head()

,S_NUM,AGE,AGE_UNIT,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF,AGE_YRS
6220,COVC23970,NaN,NaN,F,NaN,Kenya,Nairobi,Nan,No,NaN,NaN,NaN,2021-07-08 00:00:00,2021-07-08,Negative,2021-07-08 00:00:00,NaN
11305,COVC23972,NaN,NaN,M,NaN,Kenya,Kiambu,Nan,No,NaN,NaN,DIB,2021-07-08 00:00:00,2021-07-09,Negative,2021-07-13 00:00:00,73.0
11307,COVC23974,NaN,NaN,M,Student,Kenya,Kiambu,Kiambaa,No,NaN,NaN,CO,2021-07-08 00:00:00,2021-07-12,Positive,2021-07-13 00:00:00,26.0
13781,COVC23981,NaN,NaN,M,NaN,Kenya,Nairobi,Kilimani,No,NaN,NaN,NaN,2021-07-16 00:00:00,2021-07-16,Negative,2021-07-16 00:00:00,52.0
21031,COVC24015,NaN,NaN,F,Farmer,Kenya,Kiambu,Limuru,No,NaN,NaN,DIB,2021-07-22 00:00:00,2021-07-23,Positive,2021-07-26 00:00:00,79.0

In [184]:
(df_missing[['S_NUM', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'DT_CONF']]
 .sort_values('S_NUM')
 .drop_duplicates('S_NUM', keep='first')
 .to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged-missingII.xlsx', index=False))

### **ID Missing Results**

In [185]:
(df_dts_cln[df_dts_cln['RESULT'].isin(['Positive', 'Negative']) == 
            False][['S_NUM', 'DT_SAM_COLL', 'DT_SAM_RECEP', 'DT_CONF', 'RESULT']]
.to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-results-merged-results-missingII.xlsx', index=False))

### **Filter Samples Seq'd in seq10**

In [186]:
# df_waiting = pd.read_excel('/home/douso/Documents/RunSheets/BioRepository/cov-positiveCtsLocsIII-flt.xlsx')
# df_ext_seq10 = pd.read_excel('/home/douso/Documents/RunSheets/BioRepository/run10_extractionplates.xlsx')

In [187]:
# df_waiting.head()

In [188]:
# df_ext_seq10.head()

In [189]:
# ext_list = list(df_ext_seq10['Sample_Name'])

In [190]:
# df_waiting11 = df_waiting[df_waiting['Sample_Name'].isin(ext_list) == False]

In [191]:
# df_waiting11.to_excel('/home/douso/Documents/RunSheets/BioRepository/cov-positiveCtsLocsIII-flt2.xlsx', index=False)

In [192]:
# plt.style.available

### **Get GSAID Data**

In [193]:
df_gsaid = pd.read_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/metadata_for_gisaid_ouso.xlsx')

In [194]:
df_gsaid.head()

,Sequence_name,Date_of_Sample_Collection,dt_received,dt_tested,County_of_Residence,Gender,Patient Age,Sequencing Technology
0,COVC00854,11-06-2020,NaN,13-06-2020,Nairobi,F,23.0,Illumina MiSeq
1,COVC00893,10-06-2020,NaN,13-06-2020,Nairobi,M,31.0,Illumina MiSeq
2,COVC00962,08-06-2020,14-06-2020,14-06-2020,Nairobi,M,31.0,Illumina MiSeq
3,COVC00987,08-06-2020,14-06-2020,14-06-2020,Nairobi,M,32.0,Illumina MiSeq
4,COVC00998,08-06-2020,14-06-2020,14-06-2020,Nairobi,M,25.0,Illumina MiSeq

In [195]:
gsaid_seq_nam = list(df_gsaid['Sequence_name'])

In [196]:
df_gsaid_export = df_dedud[df_dedud['S_NUM'].isin(gsaid_seq_nam) == True]

In [197]:
df_gsaid_export.to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/metadata_gisaid_ousoII.xlsx', index=False)

### **Metadata + Cts**

In [223]:
df_Cts = pd.read_excel('/home/douso/Documents/RunSheets/Cts/runsheet-cts.xlsx')[['Sample_Name', 'Well_Position', 'Ct_Mean']]
# df_nhrl_Cts = pd.read_excel('/home/douso/Documents/RunSheets/Cts/NHRL-cts.xlsx')
# df_Cts = df_covc_Cts.append(df_nhrl_Cts)

In [224]:
df_metCts = df_dedud.set_index('S_NUM').merge(df_Cts.set_index('Sample_Name'), how='outer', left_index=True, right_index=True).reset_index().rename(columns={'index': 'S_NUM'})

In [200]:
df_metCts.head()

,S_NUM,AGE_YRS,GEND,OCCU,NAT,COUNT_RES,S_COUNT_RES,TRAV_HIST,TRAV_FROM,QUAR_PLACE,SYMPS,DT_SAM_COLL,DT_SAM_RECEP,RESULT,DT_CONF,Ct_Mean
0,COVC00001,35.0,F,Refugee,NaN,Garissa,Dadaab,No,NaN,NaN,NaN,NaT,NaT,Negative,2020-06-02 00:00:00,NaN
1,COVC00002,29.0,M,Refugee,NaN,Garissa,Dadaab,No,NaN,NaN,NaN,NaT,NaT,Negative,2020-06-02 00:00:00,NaN
2,COVC00003,50.0,M,Refugee,NaN,Garissa,Dadaab,No,NaN,NaN,NaN,NaT,NaT,Negative,2020-06-02 00:00:00,NaN
3,COVC00004,35.0,F,Casual,NaN,Garissa,Dadaab,No,NaN,NaN,NaN,NaT,NaT,Negative,2020-06-02 00:00:00,NaN
4,COVC00005,27.0,F,Refugee,NaN,Garissa,Dadaab,No,NaN,NaN,NaN,NaT,NaT,Negative,2020-06-02 00:00:00,NaN

In [201]:
df_metCts.to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-resultsCts-merged-cln.xlsx', index=False)

In [202]:
df_metCts.shape

(24259, 16)

In [203]:
df_metCts[df_metCts['RESULT'] == 'Positive'].to_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/COVID19-resultsCts-merged-cln-pos.xlsx', index=False)

In [204]:
dt = datetime.today().strftime(format='%d-%m-%Y')

#### Confirm updated file in the following cell

In [218]:
df_sequenced_samples = pd.read_excel('/home/douso/Documents/TrendData/Results/ResultsMerged/all-sequenced-samples-IDs_03-08-2021.xlsx')
seqd_list = list(df_sequenced_samples['SAMPLE'])

In [225]:
df_dedud_pos = df_metCts[df_metCts['RESULT'] == 'Positive']
df_dedud_pos_unseq = df_dedud_pos[df_dedud_pos['S_NUM'].isin(seqd_list) == False]
df_dedud_pos_unseq.to_excel(f'/home/douso/Documents/TrendData/Results/ResultsMerged/all-unsequenced-pos-samples_{dt}.xlsx', index=False)

### Positives 2021 - Unsequenced

In [226]:
df_dedud_pos_unseq_21 = df_dedud_pos_unseq[df_dedud_pos_unseq['DT_CONF'] >= pd.to_datetime('2021-01-01 00:00:00')]
df_dedud_pos_unseq_21.to_excel(f'/home/douso/Documents/TrendData/Results/ResultsMerged/all-unsequenced-pos-samples-2021_{dt}.xlsx', index=False)