In [2]:
import pandas as pd
import numpy as np
import os, sys

In [4]:
cols = ['Sample Name', 'Reporter', 'CT', 'Ct Mean']

data = pd.DataFrame(columns=cols)
data_list = []
for file in os.listdir('batch2/'):
    if file.endswith('.xls'):
        data_list.append(file)
    pass
sheets = sorted(data_list)

In [6]:
len(sheets)

20

In [5]:
len(np.unique(np.array(sheets)))

20

In [8]:
counts = 0
count = 0
sheets2 = []
othererrors = []

for sheet in sheets:
    df = pd.read_excel(f'batch2/{sheet}', header=50)
    try:
        df2 = df[cols]
        data = data.append(df2, ignore_index=True)
        count += 1
    except KeyError:
        sheets2.append(sheet)
    except:
        print("Unexpected error:", sys.exc_info()[0])
        print(f'File: {sheet}')
        raise

In [9]:
counts += count
print(f'data rows: {data.shape[0]}')
print(f"this batch's count: {count}")
print(f'overall counts: {counts}')

data rows: 0
this batch's count: 0
overall counts: 0

In [10]:
count = 0
sheets3 = []
for sheet in sheets2:
    df = pd.read_excel(f'batch2/{sheet}', header=48)
    try:
        df2 = df[cols]
        data = data.append(df2, ignore_index=True)
        count += 1
    except KeyError:
        sheets3.append(sheet)
    except: 
        print("Unexpected error:", sys.exc_info()[0])
        print(f'File: {sheet}')
        raise

In [11]:
counts += count
print(f'data rows: {data.shape[0]}')
print(f"this batch's count: {count}")
print(f'overall counts: {counts}')

data rows: 0
this batch's count: 0
overall counts: 0

In [13]:
count = 0
sheets4 = []
for sheet in sheets3:
    df = pd.read_excel(f'batch2/{sheet}', header=46)
    try:
        df2 = df[cols]
        data = data.append(df2, ignore_index=True)
        count += 1
    except KeyError:
        sheets4.append(sheet)
    except: 
        print("Unexpected error:", sys.exc_info()[0])
        print(f'File: {sheet}')
        raise

In [14]:
counts += count
print(f'data rows: {data.shape[0]}')
print(f"this batch's count: {count}")
print(f'overall counts: {counts}')

data rows: 0
this batch's count: 0
overall counts: 0

In [15]:
cols2 = ['Sample Name', 'Reporter', 'Cт', 'Cт Mean']
count = 0
sheets5 = []
for sheet in sheets4:
    df = pd.read_excel(f'batch2/{sheet}', header=7)
    try:
        df2 = df[cols2]
        df2.columns = cols
        data = data.append(df2, ignore_index=True)
        count += 1
    except KeyError:
        sheets5.append(sheet)
    except: 
        pprint("Unexpected error:", sys.exc_info()[0])
        print(f'File: {sheet}')
        raise

In [16]:
counts += count
print(f'data rows: {data.shape[0]}')
print(f"this batch's count: {count}")
print(f'overall counts: {counts}')

data rows: 6478
this batch's count: 20
overall counts: 20

In [17]:
data.head(15)

   Sample Name Reporter            CT    Ct Mean
0     COVC1498      JUN      25.16748  25.167480
1     COVC1498      VIC  Undetermined        NaN
2     COVC1498      FAM  Undetermined        NaN
3     COVC1498      ABY  Undetermined        NaN
4     COVC1499      JUN      26.12574  26.125740
5     COVC1499      VIC  Undetermined        NaN
6     COVC1499      FAM  Undetermined        NaN
7     COVC1499      ABY      13.67485  13.674850
8     COVC1500      JUN     25.620539  25.620539
9     COVC1500      VIC  Undetermined        NaN
10    COVC1500      FAM  Undetermined        NaN
11    COVC1500      ABY  Undetermined        NaN
12    COVC1501      JUN     24.601021  24.601021
13    COVC1501      VIC  Undetermined        NaN
14    COVC1501      FAM  Undetermined        NaN

In [19]:
data2 = data[data['CT'] != 'Undetermined']

In [20]:
data3 = data2[data2['Reporter'].isin(['FAM', 'VIC', 'ABY']) == True]

data2b = data2[data2['CT'] != 'JUN']

data2c = data2b[data2b['CT'] != 'ABY']

data3 = data2c[data2c['Reporter'] != 'CY5']

In [21]:
data4 = data3[data3.duplicated('Sample Name', False) == True]

In [22]:
data4.head(10)

     Sample Name Reporter         CT    Ct Mean
383           PC      ABY  23.770149  23.770149
763           NC      ABY     22.789  22.789000
767           PC      ABY  23.701288  23.701288
1147          NC      ABY   8.331326        NaN
1151          PC      ABY  20.692333  20.692333
1486          NC      ABY  17.995567  17.995567
1489          PC      ABY  16.813034  16.813034
1649          NC      ABY  26.854572  26.854572
1653          PC      ABY   23.00001  23.000010
1792          NC      ABY  27.228973        NaN

In [23]:
data4.columns = ['Sample_Name', 'Reporter', 'CT', 'Ct_Mean']

In [24]:
def cov_rename(x):    
    try:
        if 'COV' not in x and '-R' in x:
            x = x.replace('-R', '')
        int(x)
        x = str(x).replace(str(x), f'COVC{str(x)}')
    except (ValueError, AttributeError, TypeError): x = str(x).replace(' ', '')
    return x

In [25]:
Sample_Name = data4['Sample_Name'].apply(lambda x: cov_rename(x))

Sample_Name = data4['Sample_Name'].apply(lambda x: str(x).replace(str(x), f'COVC{str(x)}') 
                                             if (isinstance(x, (int, float))) else x.replace(' ', ''))

In [26]:
data4['Reporter'].unique()

array(['ABY', 'VIC', 'FAM'], dtype=object)

In [27]:
data5 = data4.assign(Sample_Name=Sample_Name)

In [28]:
data5.head()

     Sample_Name Reporter         CT    Ct_Mean
383           PC      ABY  23.770149  23.770149
763           NC      ABY     22.789  22.789000
767           PC      ABY  23.701288  23.701288
1147          NC      ABY   8.331326        NaN
1151          PC      ABY  20.692333  20.692333

data5_fam = data5[data5['Reporter'] == 'FAM']['CT'].rename('CT_FAM')

data5_fam

data5_vic = data5[data5['Reporter'] == 'VIC']['CT'].rename('CT_VIC')

data5_vic

In [29]:
data6 = data5.sort_values(['Sample_Name', 'Reporter']).groupby('Sample_Name').mean()

In [30]:
data6#.head()

               Ct_Mean
Sample_Name
COVC1802     16.146825
COVC1803     31.143262
COVC1805     21.180242
COVC1834     27.244002
COVC1835     18.251966
COVC1841     29.834681
COVC1849     15.630562
COVC1851     24.006072
COVC1852     30.154689
COVC1853     32.222018
COVC1893     16.040097
COVC1894     15.825011
COVC1899     15.594533
COVC1902     15.397133
COVC1903     14.338458
COVC1904     14.305421
COVC1909     14.091177
COVC1914     27.527137
COVC1915     19.342199
COVC1923     14.021263
COVC1926     25.526370
COVC1927     26.356272
COVC1933     13.282479
COVC1939     21.266771
COVC1940     13.457753
COVC1941     17.188649
COVC1945     13.301877
COVC1949     22.146302
COVC1950     16.672626
COVC1956     20.312359
COVC1958      9.113239
COVC1968     20.602285
COVC1969     22.982923
COVC1970     18.934748
COVC1972     22.786273
COVC1973     12.684114
COVC1974     18.138072
COVC1975     13.265037
COVC1977     21.870084
COVC1978     18.163209
COVC1980     20.895465
COVC1985     25.407441
COVC1990     14.014834
COVC1995     16.598583
COVC2047     19.096540
COVC2052     17.078361
COVC2053     14.841798
COVC2066     25.693603
COVC2766     27.550034
NC           22.200647
PC           22.671173

In [31]:
#data6.reset_index().to_excel('batch2/cov-positiveCts.xlsx', index=False)

data7 = data5.set_index('Sample_Name').assign(Ct_Mean = data6 ).reset_index()

data7

data8 = data7.sort_values('Sample_Name').drop_duplicates('Sample_Name')

data8[data8['Sample_Name'] == 'COVC22821']

In [30]:
#data8.to_excel('cov-positivesCts.xlsx', index=False)

In [32]:
#biorepo = pd.read_excel('/home/douso/Documents/RunSheets/BioRepository/COVID -19 SAMPLE ARCHIVE.xlsx')

In [33]:
biorepo.head()

,Animal ID,Sample Type,Date of sample collection,Date Frozen,Volume aliquoted,Freezer No.,ALIQUOT A Sample ID,ALIQUOT A Storage box,Position in box,ALIQUOT B Sample ID,ALIQUOT B Storage box,Position in box.1,Aliquoted by,Owner,Experiment,Project,Compiled by,Project code,Unnamed: 18
0,Human,Respiratory in VTM,NaT,NaT,Approx 1.2ml,BSL3 Freezer,COVA00001,SARS0001,1A,COVB0001,SARS0002,1A,NaN,Samuel/Edward/MOH,SARS-CoV-2 rt RT-PCR,COVID Diagnosis,stephen,BMZ002501 - COVID,NaN
1,Human,Respiratory in VTM,NaT,NaT,Approx 1.2ml,BSL3 Freezer,COVA00002,SARS0001,2A,COVB0002,SARS0002,2A,NaN,Samuel/Edward/MOH,SARS-CoV-2 rt RT-PCR,COVID Diagnosis,stephen,BMZ002501 - COVID,NaN
2,Human,Respiratory in VTM,NaT,NaT,Approx 1.2ml,BSL3 Freezer,COVA00003,SARS0001,3A,COVB0003,SARS0002,3A,NaN,Samuel/Edward/MOH,SARS-CoV-2 rt RT-PCR,COVID Diagnosis,stephen,BMZ002501 - COVID,NaN
3,Human,Respiratory in VTM,NaT,NaT,Approx 1.2ml,BSL3 Freezer,COVA00004,SARS0001,4A,COVB0004,SARS0002,4A,NaN,Samuel/Edward/MOH,SARS-CoV-2 rt RT-PCR,COVID Diagnosis,stephen,BMZ002501 - COVID,NaN
4,Human,Respiratory in VTM,NaT,NaT,Approx 1.2ml,BSL3 Freezer,COVA00005,SARS0001,5A,COVB0005,SARS0002,5A,NaN,Samuel/Edward/MOH,SARS-CoV-2 rt RT-PCR,COVID Diagnosis,stephen,BMZ002501 - COVID,NaN

In [34]:
cols = ['ALIQUOT A Sample ID', 'ALIQUOT A Storage box', 'Position in box',
       'ALIQUOT B Sample ID', 'ALIQUOT B Storage box', 'Position in box.1']

In [35]:
biorepo_loc = biorepo[cols]

In [36]:
biorepo_loc.head()

,ALIQUOT A Sample ID,ALIQUOT A Storage box,Position in box,ALIQUOT B Sample ID,ALIQUOT B Storage box,Position in box.1
0,COVA00001,SARS0001,1A,COVB0001,SARS0002,1A
1,COVA00002,SARS0001,2A,COVB0002,SARS0002,2A
2,COVA00003,SARS0001,3A,COVB0003,SARS0002,3A
3,COVA00004,SARS0001,4A,COVB0004,SARS0002,4A
4,COVA00005,SARS0001,5A,COVB0005,SARS0002,5A

In [37]:
cts = pd.read_excel('/home/douso/Documents/RunSheets/batch2/cov-positiveCts.xlsx', '30AndBelowCts')

In [38]:
cts.head()

  Sample_Name  Ct_Mean
0    COVC1958      9.1
1    COVC1973     12.7
2    COVC1933     13.3
3    COVC1945     13.3
4    COVC1975     13.3

In [39]:
def cov_names(x):
    x = x.upper()
    if len(x) == 9:
        x = x.replace('COVC', 'COVA')
    elif len(x) == 8:
        x = x.replace('COVC', 'COVA0')
    elif len(x) == 7:
        x = x.replace('COVC', 'COVA00')
    elif len(x) == 6:
        x = x.replace('COVC', 'COVA000')
    elif len(x) == 5:
        x = x.replace('COVC', 'COVA0000')
    return x

In [40]:
def cov_namesA(x):
    x = str(x)
    if len(x) == 8:
        x = x.replace('COVA', 'COVA0')
    elif len(x) == 7:
        x = x.replace('COVA', 'COVA00')
    elif len(x) == 6:
        x = x.replace('COVA', 'COVA000')
    elif len(x) == 5:
        x = x.replace('COVA', 'COVA0000')
    elif len(x) == 4:
        x = x.replace('COVA', 'COVA00000')
    elif len(x) == 3:
        x = x.replace('COVA', 'COVA000000')
    elif len(x) == 2:
        x = x.replace('COVA', 'COVA0000000')
    return x

In [41]:
cts_cln = cts.assign(Sample_NameB=cts['Sample_Name'].apply(lambda x: cov_names(x)))

In [42]:
cts_cln

   Sample_Name  Ct_Mean Sample_NameB
0     COVC1958      9.1    COVA01958
1     COVC1973     12.7    COVA01973
2     COVC1933     13.3    COVA01933
3     COVC1945     13.3    COVA01945
4     COVC1975     13.3    COVA01975
5     COVC1940     13.5    COVA01940
6     COVC1923     14.0    COVA01923
7     COVC1990     14.0    COVA01990
8     COVC1909     14.1    COVA01909
9     COVC1903     14.3    COVA01903
10    COVC1904     14.3    COVA01904
11    COVC2053     14.8    COVA02053
12    COVC1902     15.4    COVA01902
13    COVC1849     15.6    COVA01849
14    COVC1899     15.6    COVA01899
15    COVC1894     15.8    COVA01894
16    COVC1893     16.0    COVA01893
17    COVC1802     16.1    COVA01802
18    COVC1995     16.6    COVA01995
19    COVC1950     16.7    COVA01950
20    COVC2052     17.1    COVA02052
21    COVC1941     17.2    COVA01941
22    COVC1974     18.1    COVA01974
23    COVC1978     18.2    COVA01978
24    COVC1835     18.3    COVA01835
25    COVC1970     18.9    COVA01970
26    COVC2047     19.1    COVA02047
27    COVC1915     19.3    COVA01915
28    COVC1956     20.3    COVA01956
29    COVC1968     20.6    COVA01968
30    COVC1980     20.9    COVA01980
31    COVC1805     21.2    COVA01805
32    COVC1939     21.3    COVA01939
33    COVC1977     21.9    COVA01977
34    COVC1949     22.1    COVA01949
35    COVC1972     22.8    COVA01972
36    COVC1969     23.0    COVA01969
37    COVC1851     24.0    COVA01851
38    COVC1985     25.4    COVA01985
39    COVC1926     25.5    COVA01926
40    COVC2066     25.7    COVA02066
41    COVC1927     26.4    COVA01927
42    COVC1834     27.2    COVA01834
43    COVC1914     27.5    COVA01914
44    COVC2766     27.6    COVA02766
45    COVC1841     29.8    COVA01841
46    COVC1852     30.2    COVA01852

In [43]:
biorepo_loc_cln = biorepo_loc.assign(ALIQUOT_A_Sample_ID=biorepo_loc['ALIQUOT A Sample ID'].apply(lambda x: cov_namesA(x)))

In [44]:
biorepo_loc_cln.head()

,ALIQUOT A Sample ID,ALIQUOT A Storage box,Position in box,ALIQUOT B Sample ID,ALIQUOT B Storage box,Position in box.1,ALIQUOT_A_Sample_ID
0,COVA00001,SARS0001,1A,COVB0001,SARS0002,1A,COVA00001
1,COVA00002,SARS0001,2A,COVB0002,SARS0002,2A,COVA00002
2,COVA00003,SARS0001,3A,COVB0003,SARS0002,3A,COVA00003
3,COVA00004,SARS0001,4A,COVB0004,SARS0002,4A,COVA00004
4,COVA00005,SARS0001,5A,COVB0005,SARS0002,5A,COVA00005

In [45]:
#biorepo_loc_cln.to_excel('/home/douso/Documents/RunSheets/BioRepository/COVID-19-Sample-Archive-loc-cln.xlsx')

In [46]:
cts_cln.head()

  Sample_Name  Ct_Mean Sample_NameB
0    COVC1958      9.1    COVA01958
1    COVC1973     12.7    COVA01973
2    COVC1933     13.3    COVA01933
3    COVC1945     13.3    COVA01945
4    COVC1975     13.3    COVA01975

In [47]:
cts_biorepo = cts_cln.set_index('Sample_NameB').merge(biorepo_loc_cln.set_index('ALIQUOT_A_Sample_ID'), how='inner', left_index=True, right_index=True)

In [48]:
cts_biorepo.head()

,Sample_Name,Ct_Mean,ALIQUOT A Sample ID,ALIQUOT A Storage box,Position in box,ALIQUOT B Sample ID,ALIQUOT B Storage box,Position in box.1
COVA01802,COVC1802,16.1,COVA1802,SARS0037,6A,COVB1802,SARS0038,6A
COVA01805,COVC1805,21.2,COVA1805,SARS0037,9A,COVB1805,SARS0038,9A
COVA01834,COVC1834,27.2,COVA1834,SARS0037,38D,COVB1834,SARS0038,38D
COVA01835,COVC1835,18.3,COVA1835,SARS0037,39D,COVB1835,SARS0038,39D
COVA01841,COVC1841,29.8,COVA1841,SARS0037,45E,COVB1841,SARS0038,45E

In [49]:
seq_all = pd.read_excel('all-(un)sequenced-covs.xlsx')

In [50]:
seq_all.head()

       covcs
0  COVC13064
1  COVC13125
2  COVC14272
3  COVC14288
4  COVC14304

In [51]:
sequenced = list(seq_all['covcs'].apply(lambda x: cov_names(x)))

In [52]:
cts_biorepo_srt = (cts_biorepo.reset_index().sort_values('index'))

In [53]:
cts_biorepo_srt

,index,Sample_Name,Ct_Mean,ALIQUOT A Sample ID,ALIQUOT A Storage box,Position in box,ALIQUOT B Sample ID,ALIQUOT B Storage box,Position in box.1
0,COVA01802,COVC1802,16.1,COVA1802,SARS0037,6A,COVB1802,SARS0038,6A
1,COVA01805,COVC1805,21.2,COVA1805,SARS0037,9A,COVB1805,SARS0038,9A
2,COVA01834,COVC1834,27.2,COVA1834,SARS0037,38D,COVB1834,SARS0038,38D
3,COVA01835,COVC1835,18.3,COVA1835,SARS0037,39D,COVB1835,SARS0038,39D
4,COVA01841,COVC1841,29.8,COVA1841,SARS0037,45E,COVB1841,SARS0038,45E
5,COVA01849,COVC1849,15.6,COVA1849,SARS0037,53F,COVB1849,SARS0038,53F
6,COVA01851,COVC1851,24.0,COVA1851,SARS0037,55F,COVB1851,SARS0038,55F
7,COVA01852,COVC1852,30.2,COVA1852,SARS0037,56F,COVB1852,SARS0038,56F
8,COVA01893,COVC1893,16.0,COVA1893,SARS0037,97J,COVB1893,SARS0038,97J
9,COVA01894,COVC1894,15.8,COVA1894,SARS0037,98J,COVB1894,SARS0038,98J
10,COVA01899,COVC1899,15.6,COVA1899,SARS0039,3A,COVB1899,SARS0040,3A
11,COVA01902,COVC1902,15.4,COVA1902,SARS0039,6A,COVB1902,SARS0040,6A
12,COVA01903,COVC1903,14.3,COVA1903,SARS0039,7A,COVB1903,SARS0040,7A
13,COVA01904,COVC1904,14.3,COVA1904,SARS0039,8A,COVB1904,SARS0040,8A
14,COVA01909,COVC1909,14.1,COVA1909,SARS0039,13B,COVB1909,SARS0040,13B
15,COVA01914,COVC1914,27.5,COVA1914,SARS0039,18B,COVB1914,SARS0040,18B
16,COVA01915,COVC1915,19.3,COVA1915,SARS0039,19B,COVB1915,SARS0040,19B
17,COVA01923,COVC1923,14.0,COVA1923,SARS0039,27C,COVB1923,SARS0040,27C
18,COVA01926,COVC1926,25.5,COVA1926,SARS0039,30C,COVB1926,SARS0040,30C
19,COVA01927,COVC1927,26.4,COVA1927,SARS0039,31D,COVB1927,SARS0040,31D
20,COVA01933,COVC1933,13.3,COVA1933,SARS0039,37D,COVB1933,SARS0040,37D
21,COVA01939,COVC1939,21.3,COVA1939,SARS0039,43E,COVB1939,SARS0040,43E
22,COVA01940,COVC1940,13.5,COVA1940,SARS0039,44E,COVB1940,SARS0040,44E
23,COVA01941,COVC1941,17.2,COVA1941,SARS0039,45E,COVB1941,SARS0040,45E
24,COVA01945,COVC1945,13.3,COVA1945,SARS0039,49E,COVB1945,SARS0040,49E
25,COVA01949,COVC1949,22.1,COVA1949,SARS0039,53F,COVB1949,SARS0040,53F
26,COVA01950,COVC1950,16.7,COVA1950,SARS0039,54F,COVB1950,SARS0040,54F
27,COVA01956,COVC1956,20.3,COVA1956,SARS0039,60F,COVB1956,SARS0040,60F
28,COVA01958,COVC1958,9.1,COVA1958,SARS0039,62G,COVB1958,SARS0040,62G
29,COVA01968,COVC1968,20.6,COVA1968,SARS0039,72H,COVB1968,SARS0040,72H
30,COVA01969,COVC1969,23.0,COVA1969,SARS0039,73H,COVB1969,SARS0040,73H
31,COVA01970,COVC1970,18.9,COVA1970,SARS0039,74H,COVB1970,SARS0040,74H
32,COVA01972,COVC1972,22.8,COVA1972,SARS0039,76H,COVB1972,SARS0040,76H
33,COVA01973,COVC1973,12.7,COVA1973,SARS0039,77H,COVB1973,SARS0040,77H
34,COVA01974,COVC1974,18.1,COVA1974,SARS0039,78H,COVB1974,SARS0040,78H
35,COVA01975,COVC1975,13.3,COVA1975,SARS0039,79H,COVB1975,SARS0040,79H
36,COVA01977,COVC1977,21.9,COVA1977,SARS0039,81I,COVB1977,SARS0040,81I
37,COVA01978,COVC1978,18.2,COVA1978,SARS0039,82I,COVB1978,SARS0040,82I
38,COVA01980,COVC1980,20.9,COVA1980,SARS0039,84I,COVB1980,SARS0040,84I
39,COVA01985,COVC1985,25.4,COVA1985,SARS0039,89I,COVB1985,SARS0040,89I
40,COVA01990,COVC1990,14.0,COVA1990,SARS0039,94J,COVB1990,SARS0040,94J
41,COVA01995,COVC1995,16.6,COVA1995,SARS0039,99J,COVB1995,SARS0040,99J
42,COVA02047,COVC2047,19.1,COVA2047,SARS0041,51F,COVB2047,SARS0042,51F
43,COVA02052,COVC2052,17.1,COVA2052,SARS0041,56F,COVB2052,SARS0042,56F
44,COVA02053,COVC2053,14.8,COVA2053,SARS0041,57F,COVB2053,SARS0042,57F
45,COVA02066,COVC2066,25.7,COVA2066,SARS0041,70G,COVB2066,SARS0042,70G
46,COVA02766,COVC2766,27.6,COVA2766,SARS0055,70G,COVB2766,SARS0056,70G

In [54]:
final = cts_biorepo_srt[cts_biorepo_srt['index'].isin(sequenced) == False].sort_values(['index', 'Ct_Mean']).drop_duplicates('index', keep='last')

In [55]:
final#.head()

,index,Sample_Name,Ct_Mean,ALIQUOT A Sample ID,ALIQUOT A Storage box,Position in box,ALIQUOT B Sample ID,ALIQUOT B Storage box,Position in box.1
0,COVA01802,COVC1802,16.1,COVA1802,SARS0037,6A,COVB1802,SARS0038,6A
1,COVA01805,COVC1805,21.2,COVA1805,SARS0037,9A,COVB1805,SARS0038,9A
2,COVA01834,COVC1834,27.2,COVA1834,SARS0037,38D,COVB1834,SARS0038,38D
3,COVA01835,COVC1835,18.3,COVA1835,SARS0037,39D,COVB1835,SARS0038,39D
4,COVA01841,COVC1841,29.8,COVA1841,SARS0037,45E,COVB1841,SARS0038,45E
6,COVA01851,COVC1851,24.0,COVA1851,SARS0037,55F,COVB1851,SARS0038,55F
7,COVA01852,COVC1852,30.2,COVA1852,SARS0037,56F,COVB1852,SARS0038,56F
8,COVA01893,COVC1893,16.0,COVA1893,SARS0037,97J,COVB1893,SARS0038,97J
9,COVA01894,COVC1894,15.8,COVA1894,SARS0037,98J,COVB1894,SARS0038,98J
10,COVA01899,COVC1899,15.6,COVA1899,SARS0039,3A,COVB1899,SARS0040,3A
11,COVA01902,COVC1902,15.4,COVA1902,SARS0039,6A,COVB1902,SARS0040,6A
12,COVA01903,COVC1903,14.3,COVA1903,SARS0039,7A,COVB1903,SARS0040,7A
13,COVA01904,COVC1904,14.3,COVA1904,SARS0039,8A,COVB1904,SARS0040,8A
14,COVA01909,COVC1909,14.1,COVA1909,SARS0039,13B,COVB1909,SARS0040,13B
15,COVA01914,COVC1914,27.5,COVA1914,SARS0039,18B,COVB1914,SARS0040,18B
16,COVA01915,COVC1915,19.3,COVA1915,SARS0039,19B,COVB1915,SARS0040,19B
17,COVA01923,COVC1923,14.0,COVA1923,SARS0039,27C,COVB1923,SARS0040,27C
18,COVA01926,COVC1926,25.5,COVA1926,SARS0039,30C,COVB1926,SARS0040,30C
19,COVA01927,COVC1927,26.4,COVA1927,SARS0039,31D,COVB1927,SARS0040,31D
20,COVA01933,COVC1933,13.3,COVA1933,SARS0039,37D,COVB1933,SARS0040,37D
21,COVA01939,COVC1939,21.3,COVA1939,SARS0039,43E,COVB1939,SARS0040,43E
22,COVA01940,COVC1940,13.5,COVA1940,SARS0039,44E,COVB1940,SARS0040,44E
23,COVA01941,COVC1941,17.2,COVA1941,SARS0039,45E,COVB1941,SARS0040,45E
24,COVA01945,COVC1945,13.3,COVA1945,SARS0039,49E,COVB1945,SARS0040,49E
25,COVA01949,COVC1949,22.1,COVA1949,SARS0039,53F,COVB1949,SARS0040,53F
26,COVA01950,COVC1950,16.7,COVA1950,SARS0039,54F,COVB1950,SARS0040,54F
27,COVA01956,COVC1956,20.3,COVA1956,SARS0039,60F,COVB1956,SARS0040,60F
28,COVA01958,COVC1958,9.1,COVA1958,SARS0039,62G,COVB1958,SARS0040,62G
29,COVA01968,COVC1968,20.6,COVA1968,SARS0039,72H,COVB1968,SARS0040,72H
30,COVA01969,COVC1969,23.0,COVA1969,SARS0039,73H,COVB1969,SARS0040,73H
31,COVA01970,COVC1970,18.9,COVA1970,SARS0039,74H,COVB1970,SARS0040,74H
32,COVA01972,COVC1972,22.8,COVA1972,SARS0039,76H,COVB1972,SARS0040,76H
33,COVA01973,COVC1973,12.7,COVA1973,SARS0039,77H,COVB1973,SARS0040,77H
34,COVA01974,COVC1974,18.1,COVA1974,SARS0039,78H,COVB1974,SARS0040,78H
35,COVA01975,COVC1975,13.3,COVA1975,SARS0039,79H,COVB1975,SARS0040,79H
36,COVA01977,COVC1977,21.9,COVA1977,SARS0039,81I,COVB1977,SARS0040,81I
37,COVA01978,COVC1978,18.2,COVA1978,SARS0039,82I,COVB1978,SARS0040,82I
38,COVA01980,COVC1980,20.9,COVA1980,SARS0039,84I,COVB1980,SARS0040,84I
39,COVA01985,COVC1985,25.4,COVA1985,SARS0039,89I,COVB1985,SARS0040,89I
40,COVA01990,COVC1990,14.0,COVA1990,SARS0039,94J,COVB1990,SARS0040,94J
41,COVA01995,COVC1995,16.6,COVA1995,SARS0039,99J,COVB1995,SARS0040,99J
42,COVA02047,COVC2047,19.1,COVA2047,SARS0041,51F,COVB2047,SARS0042,51F
43,COVA02052,COVC2052,17.1,COVA2052,SARS0041,56F,COVB2052,SARS0042,56F
44,COVA02053,COVC2053,14.8,COVA2053,SARS0041,57F,COVB2053,SARS0042,57F
45,COVA02066,COVC2066,25.7,COVA2066,SARS0041,70G,COVB2066,SARS0042,70G
46,COVA02766,COVC2766,27.6,COVA2766,SARS0055,70G,COVB2766,SARS0056,70G

In [56]:
#final.to_excel('/home/douso/Documents/RunSheets/BioRepository/cov-positiveCtsLocsII.xlsx', index=False)