In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import glob, os, re
import matplotlib.pyplot as plt
from datetime import  datetime
from ipywidgets import widgets, interactive

In [2]:
dt = datetime.today().strftime(format='%d-%m-%Y')

### **Establish parent directory**

In [3]:
#uniqueness in directory and file names is assumed for all analyses
sars_dir = "SARS-CoV-2"
home_dir = os.getenv('HOME')
parent_dir = glob.glob(f'{home_dir}/**/{sars_dir}', recursive=True)[0]

In [4]:
cols1 = ['Sample_Name', 'Reporter', 'CT', 'Ct_Mean', 'Well_Position']

data = pd.DataFrame(columns=cols1)
data_list = []
for file in os.listdir(glob.glob(f'{parent_dir}/**/RunSheetsDB')[0]):
    if file.endswith('.xls'):
        data_list.append(file)
    pass
sheets = sorted(data_list)

In [5]:
len(np.unique(np.array(sheets)))

1

In [6]:
data.head()

Empty DataFrame
Columns: [Sample_Name, Reporter, CT, Ct_Mean, Well_Position]
Index: []

In [7]:
' '.join('2020-10-29 15:46:45 PM EAT'.split(' ')[:-2])

'2020-10-29 15:46:45'

In [8]:
pd.to_datetime(' '.join('2020-10-29 15:46:45 PM EAT'.split(' ')[:-2]), yearfirst=True)

Timestamp('2020-10-29 15:46:45')

In [9]:
cols2 = ['Sample Name', 'Reporter', 'CT', 'Ct Mean', 'Cт', 'Cт Mean', 'Well']
cols2b = ['Sample Name', 'Reporter', 'CT', 'Ct Mean', 'Cт', 'Cт Mean', 'Well Position']

counts = 0

for sheet in sheets:
    df = pd.read_excel(f"{glob.glob(f'{parent_dir}/**/RunSheetsDB')[0]}/{sheet}")
    count2 = 0
#     print(sheet)
    try:
        for row in df.itertuples():
            count2 += 1
            if row[1] == 'Experiment Run End Time':
                expt_run_date = pd.to_datetime(' '.join(row[2].split(' ')[:-2]), yearfirst=True)
            if row[1] == 'Well' and row[2] != 'Well Position':
                df = pd.read_excel(f"{glob.glob(f'{parent_dir}/**/RunSheetsDB')[0]}/{sheet}", header=count2)
                cols3 = list(set(df.columns) & set(cols2))
    #             print(cols3)
                df2 = df[sorted(cols3)]
                df2.columns = sorted(cols1)
                df3 = df2.assign(Dt_Run=expt_run_date)
                data = data.append(df3, ignore_index=True)
                counts += 1
                break
            if row[1] == 'Well' and row[2] == 'Well Position':
                df = pd.read_excel(f"{glob.glob(f'{parent_dir}/**/RunSheetsDB')[0]}/{sheet}", 'Results', header=count2)
                cols3 = list(set(df.columns) & set(cols2b))
    #             print(cols3)
    #             print(list(df.columns))
                df2 = df[sorted(cols3)]
                df2.columns = sorted(cols1)
                df3 = df2.assign(Dt_Run=expt_run_date)
                data = data.append(df3, ignore_index=True)
                counts += 1
                break
    except:
        print(sheet)
        pass

In [10]:
print(f'number of sheets in folder: {len(sheets)}')
print(f'data rows: {data.shape[0]}')
print(f'sheets processed: {counts}')

number of sheets in folder: 1
data rows: 72
sheets processed: 1

In [11]:
data.head()

,Sample_Name,Reporter,CT,Ct_Mean,Well_Position,Dt_Run
0,Mecha/242887994700,FAM,14.964239,14.964239,A1,2021-10-29 14:15:21
1,Mecha/242887994700,VIC,14.875243,14.875243,A1,2021-10-29 14:15:21
2,Mecha/242887994700,CY5,22.098326,22.098326,A1,2021-10-29 14:15:21
3,Mecha/807606757509,FAM,14.405487,14.405487,A2,2021-10-29 14:15:21
4,Mecha/807606757509,VIC,14.953414,14.953414,A2,2021-10-29 14:15:21

In [12]:
data.info()#.nunique()#.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sample_Name    72 non-null     object
 1   Reporter       72 non-null     object
 2   CT             72 non-null     float64
 3   Ct_Mean        72 non-null     float64
 4   Well_Position  72 non-null     object
 5   Dt_Run         72 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 3.5+ KB

In [13]:
data.sort_values('Dt_Run', ascending=False).to_excel(f"{glob.glob(f'{parent_dir}/Outputs')[0]}/runsheet-raw-cts.xlsx", index=False, float_format='%.1f')

IndexError: list index out of range

In [ ]:
glob.glob(f'{parent_dir}')[0]

In [ ]:
# undetermined_ids = list(data[data['CT'] == 'Undetermined']['Sample_Name'].unique())#.astype(list)

In [14]:
data2 = data[data['CT'] != 'Undetermined']

In [15]:
data3 = data2[data2['Reporter'].isin(['FAM', 'VIC', 'ABY', 'TAMRA']) == True]

In [16]:
data1 = data3[data3['Sample_Name'].isin(['PC', 'NC']) != True]

In [17]:
data4 = data1[data1.duplicated('Sample_Name', False) == True]

In [18]:
data4.head(10)

,Sample_Name,Reporter,CT,Ct_Mean,Well_Position,Dt_Run
0,Mecha/242887994700,FAM,14.964239,14.964239,A1,2021-10-29 14:15:21
1,Mecha/242887994700,VIC,14.875243,14.875243,A1,2021-10-29 14:15:21
3,Mecha/807606757509,FAM,14.405487,14.405487,A2,2021-10-29 14:15:21
4,Mecha/807606757509,VIC,14.953414,14.953414,A2,2021-10-29 14:15:21
6,Mecha/386916051422,FAM,19.363384,19.363384,A3,2021-10-29 14:15:21
7,Mecha/386916051422,VIC,19.243460,19.243460,A3,2021-10-29 14:15:21
9,Mecha/370083924907,FAM,19.503914,19.503914,A4,2021-10-29 14:15:21
10,Mecha/370083924907,VIC,19.778183,19.778183,A4,2021-10-29 14:15:21
12,Mecha/877729725819,FAM,21.621166,21.621166,A5,2021-10-29 14:15:21
13,Mecha/877729725819,VIC,21.667646,21.667646,A5,2021-10-29 14:15:21

In [19]:
def get_upper_alpha_seq():
    letters = []
    for c in range(65, 91):
        letters.append(chr(c))
    return letters

for c in range(32, 124):
        print(chr(c), end='')

In [20]:
def cov_rename(x):
    try:
        if 'COV' not in x and '-R' in x:
            x = x.replace('-R', '')
        if 'COV' in x and 'COVC' not in x and 'COVM' not in x and 'COVE' not in x:
            x = x.replace('COV', 'COVC')
        int(x)
        x = str(x).replace(str(x), f'COVC{str(x)}')
    except (ValueError, AttributeError, TypeError): x = str(x).replace(' ', '')
    return x.replace('COVC_', 'COVC0')

def cov_rename(x):
    if 'COV' in str(x) and 'COVC' not in str(x):
        return str(x).replace('COV', 'COVC')
    return x

In [21]:
def cov_names(x):
    cov_id = str(x).upper().replace(' ', '').rstrip(f'#-_{get_upper_alpha_seq()}')
    if len(cov_id) == 8:
        return cov_id.replace('COVC', 'COVC0')
    elif len(cov_id) == 7:
        return cov_id.replace('COVC', 'COVC00')
    elif len(cov_id) == 6:
        return cov_id.replace('COVC', 'COVC000')
    elif len(cov_id) == 5:
        return cov_id.replace('COVC', 'COVC0000')
    return cov_id

In [22]:
data4['Reporter'].unique()

array(['FAM', 'VIC'], dtype=object)

In [23]:
data5 = data4.assign(Sample_Name=data4['Sample_Name'].apply(lambda x: cov_names(cov_rename(x))))

In [24]:
data5.head()

,Sample_Name,Reporter,CT,Ct_Mean,Well_Position,Dt_Run
0,MECHA/242887994700,FAM,14.964239,14.964239,A1,2021-10-29 14:15:21
1,MECHA/242887994700,VIC,14.875243,14.875243,A1,2021-10-29 14:15:21
3,MECHA/807606757509,FAM,14.405487,14.405487,A2,2021-10-29 14:15:21
4,MECHA/807606757509,VIC,14.953414,14.953414,A2,2021-10-29 14:15:21
6,MECHA/386916051422,FAM,19.363384,19.363384,A3,2021-10-29 14:15:21

data5.sort_values('Dt_Run', ascending=False).to_excel(f"{glob.glob(f'{parent_dir}/Outputs')[0]}/runsheet-raw-cts.xlsx", index=False, float_format='%.1f')

In [25]:
data6 = (data5.sort_values(['Sample_Name', 'Reporter', 'Dt_Run'])
 .drop_duplicates(['Sample_Name', 'Reporter'], keep='last', inplace=False))

In [26]:
data6#[data6['Sample_Name'].str.contains('COVC') == False]#['Dt_Run'].unique()

,Sample_Name,Reporter,CT,Ct_Mean,Well_Position,Dt_Run
66,MECHA/124376917585,FAM,35.357380,35.357380,B11,2021-10-29 14:15:21
67,MECHA/124376917585,VIC,35.573994,35.573994,B11,2021-10-29 14:15:21
21,MECHA/126956004916,FAM,33.111633,33.111633,A8,2021-10-29 14:15:21
22,MECHA/126956004916,VIC,33.713844,33.713844,A8,2021-10-29 14:15:21
45,MECHA/147102302918,FAM,36.932190,36.932190,B4,2021-10-29 14:15:21
46,MECHA/147102302918,VIC,37.237614,37.237614,B4,2021-10-29 14:15:21
0,MECHA/242887994700,FAM,14.964239,14.964239,A1,2021-10-29 14:15:21
1,MECHA/242887994700,VIC,14.875243,14.875243,A1,2021-10-29 14:15:21
36,MECHA/305607937565,FAM,35.358631,35.358631,B1,2021-10-29 14:15:21
37,MECHA/305607937565,VIC,36.759144,36.759144,B1,2021-10-29 14:15:21
60,MECHA/334934637527,FAM,36.538086,36.538086,B9,2021-10-29 14:15:21
61,MECHA/334934637527,VIC,36.146694,36.146694,B9,2021-10-29 14:15:21
42,MECHA/343053731712,FAM,35.670296,35.670296,B3,2021-10-29 14:15:21
43,MECHA/343053731712,VIC,37.151932,37.151932,B3,2021-10-29 14:15:21
24,MECHA/345522810032,FAM,30.021852,30.021852,A9,2021-10-29 14:15:21
25,MECHA/345522810032,VIC,30.561695,30.561695,A9,2021-10-29 14:15:21
9,MECHA/370083924907,FAM,19.503914,19.503914,A4,2021-10-29 14:15:21
10,MECHA/370083924907,VIC,19.778183,19.778183,A4,2021-10-29 14:15:21
6,MECHA/386916051422,FAM,19.363384,19.363384,A3,2021-10-29 14:15:21
7,MECHA/386916051422,VIC,19.243460,19.243460,A3,2021-10-29 14:15:21
15,MECHA/412415158935,FAM,22.881046,22.881046,A6,2021-10-29 14:15:21
16,MECHA/412415158935,VIC,23.075989,23.075989,A6,2021-10-29 14:15:21
30,MECHA/441099749679,FAM,37.082493,37.082493,A11,2021-10-29 14:15:21
31,MECHA/441099749679,VIC,36.091862,36.091862,A11,2021-10-29 14:15:21
57,MECHA/442922332057,FAM,36.633694,36.633694,B8,2021-10-29 14:15:21
58,MECHA/442922332057,VIC,38.215202,38.215202,B8,2021-10-29 14:15:21
27,MECHA/461903780247,FAM,36.357239,36.357239,A10,2021-10-29 14:15:21
28,MECHA/461903780247,VIC,35.099094,35.099094,A10,2021-10-29 14:15:21
18,MECHA/488247245905,FAM,36.039303,36.039303,A7,2021-10-29 14:15:21
19,MECHA/488247245905,VIC,36.708496,36.708496,A7,2021-10-29 14:15:21
69,MECHA/515263237316,FAM,34.679680,34.679680,B12,2021-10-29 14:15:21
70,MECHA/515263237316,VIC,35.295547,35.295547,B12,2021-10-29 14:15:21
33,MECHA/664805494316,FAM,35.738728,35.738728,A12,2021-10-29 14:15:21
34,MECHA/664805494316,VIC,36.060196,36.060196,A12,2021-10-29 14:15:21
51,MECHA/692784572215,FAM,35.346760,35.346760,B6,2021-10-29 14:15:21
52,MECHA/692784572215,VIC,34.620300,34.620300,B6,2021-10-29 14:15:21
63,MECHA/734656001780,FAM,36.595726,36.595726,B10,2021-10-29 14:15:21
64,MECHA/734656001780,VIC,36.171600,36.171600,B10,2021-10-29 14:15:21
54,MECHA/798055881973,FAM,30.044397,30.044397,B7,2021-10-29 14:15:21
55,MECHA/798055881973,VIC,32.729790,32.729790,B7,2021-10-29 14:15:21
3,MECHA/807606757509,FAM,14.405487,14.405487,A2,2021-10-29 14:15:21
4,MECHA/807606757509,VIC,14.953414,14.953414,A2,2021-10-29 14:15:21
12,MECHA/877729725819,FAM,21.621166,21.621166,A5,2021-10-29 14:15:21
13,MECHA/877729725819,VIC,21.667646,21.667646,A5,2021-10-29 14:15:21
39,MECHA/955593298152,FAM,36.049068,36.049068,B2,2021-10-29 14:15:21
40,MECHA/955593298152,VIC,35.950306,35.950306,B2,2021-10-29 14:15:21
48,MECHA/980225534406,FAM,36.244278,36.244278,B5,2021-10-29 14:15:21
49,MECHA/980225534406,VIC,35.870388,35.870388,B5,2021-10-29 14:15:21

In [27]:
data7 = data6.sort_values(['Sample_Name']).groupby('Sample_Name').mean()

In [28]:
data7.head()

                           CT    Ct_Mean
Sample_Name
MECHA/124376917585  35.465687  35.465687
MECHA/126956004916  33.412739  33.412739
MECHA/147102302918  37.084902  37.084902
MECHA/242887994700  14.919741  14.919741
MECHA/305607937565  36.058887  36.058887

In [29]:
data8 = data6.sort_values(['Sample_Name', 'Dt_Run']).drop_duplicates('Sample_Name', keep='last')#.to_frame()
data8

,Sample_Name,Reporter,CT,Ct_Mean,Well_Position,Dt_Run
67,MECHA/124376917585,VIC,35.573994,35.573994,B11,2021-10-29 14:15:21
22,MECHA/126956004916,VIC,33.713844,33.713844,A8,2021-10-29 14:15:21
46,MECHA/147102302918,VIC,37.237614,37.237614,B4,2021-10-29 14:15:21
1,MECHA/242887994700,VIC,14.875243,14.875243,A1,2021-10-29 14:15:21
37,MECHA/305607937565,VIC,36.759144,36.759144,B1,2021-10-29 14:15:21
61,MECHA/334934637527,VIC,36.146694,36.146694,B9,2021-10-29 14:15:21
43,MECHA/343053731712,VIC,37.151932,37.151932,B3,2021-10-29 14:15:21
25,MECHA/345522810032,VIC,30.561695,30.561695,A9,2021-10-29 14:15:21
10,MECHA/370083924907,VIC,19.778183,19.778183,A4,2021-10-29 14:15:21
7,MECHA/386916051422,VIC,19.243460,19.243460,A3,2021-10-29 14:15:21
16,MECHA/412415158935,VIC,23.075989,23.075989,A6,2021-10-29 14:15:21
31,MECHA/441099749679,VIC,36.091862,36.091862,A11,2021-10-29 14:15:21
58,MECHA/442922332057,VIC,38.215202,38.215202,B8,2021-10-29 14:15:21
28,MECHA/461903780247,VIC,35.099094,35.099094,A10,2021-10-29 14:15:21
19,MECHA/488247245905,VIC,36.708496,36.708496,A7,2021-10-29 14:15:21
70,MECHA/515263237316,VIC,35.295547,35.295547,B12,2021-10-29 14:15:21
34,MECHA/664805494316,VIC,36.060196,36.060196,A12,2021-10-29 14:15:21
52,MECHA/692784572215,VIC,34.620300,34.620300,B6,2021-10-29 14:15:21
64,MECHA/734656001780,VIC,36.171600,36.171600,B10,2021-10-29 14:15:21
55,MECHA/798055881973,VIC,32.729790,32.729790,B7,2021-10-29 14:15:21
4,MECHA/807606757509,VIC,14.953414,14.953414,A2,2021-10-29 14:15:21
13,MECHA/877729725819,VIC,21.667646,21.667646,A5,2021-10-29 14:15:21
40,MECHA/955593298152,VIC,35.950306,35.950306,B2,2021-10-29 14:15:21
49,MECHA/980225534406,VIC,35.870388,35.870388,B5,2021-10-29 14:15:21

In [30]:
data9 = data8.assign(Well_Position=data8.Well_Position.apply(lambda x: '0'.join(list(x)) if len(x.strip()) == 2 else x))

In [31]:
data10 = data9[['Sample_Name', 'Well_Position', 'Dt_Run']].merge(data7, how='right', left_on='Sample_Name', right_index=True)

In [32]:
df_cts = data10[data10['Sample_Name'].str.contains('COV') == True]

In [34]:
df_cts.sort_values('Dt_Run').to_excel(f"{glob.glob(f'{parent_dir}/Outputs')[0]}/runsheet-cts.xlsx", index=False, float_format='%.1f')